### **_Importar librerias_**

In [510]:
# Principales
import pandas as pd
import numpy as np

# Modificaciones 
import re
from unidecode import unidecode
import unicodedata
import datetime


# visuzalizaciones
import missingno as msno
import matplotlib as plt 
import plotly.express as px

In [511]:
pd.set_option("display.max_columns",None)

In [512]:
def crear_columnas(df,nueva_col,valor_busqueda):
   # df[nueva_col]= np.nan
    for index, row in df.iterrows():
     for col in df.columns[:-1]:
        if pd.notna(row[col]):
            for valor in valor_busqueda:
                if valor in str(row[col]):
                    df.at[index, nueva_col] =valor 
                    #df.at[index, col]= np.nan
                    break

In [513]:


# Función para crear y rellenar la nueva columna en base a un patrón
def crear_columnas_conpatron(df, nueva_col, patron,lborrar):
  #  df[nueva_col] = np.nan  # Inicializar la nueva columna con valores NaN
    for index, row in df.iterrows():
        for col in df.columns[:-1]:  # Excluir la nueva columna en la iteración
            if pd.notna(row[col]):
                valor = str(row[col])
                if pd.Series(valor).str.contains(patron, regex=True).any():
                    valorasignar = pd.Series(valor).str.replace(":", "").str.replace(patron, "", regex=True).values[0]
                    if valorasignar == "" or lborrar==False:  # Corregir la condición
                        df.at[index, nueva_col] = valor.strip()
                    else:
                        df.at[index, nueva_col] = valorasignar.strip()
                    break  # Salir del bucle interno una vez que se ha encontrado el valor y asignado

In [514]:
# Definir la función replaceporvacio
def replaceporvacio(df, col, palabra_a_sustituir):
    df[col] = df[col].replace(palabra_a_sustituir, "", regex=True)

### **_Lectura de datos_**

In [515]:
redpiso_normal= pd.read_excel("../01-datos-iniciales/06-RedPiso/Redpiso.xlsx")
redpiso_detalles= pd.read_excel("../01-datos-iniciales/06-RedPiso/Detalle_RedPiso.xlsx")

In [516]:
dbcp_ordenado= pd.read_excel('../02-datos-limpios/distr_barrios_codpostal.xlsx')
#dbcp_ordenado= pd.read_excel("distr_barrios_codpostal.xlsx")
#redpiso_normal= pd.read_excel("Redpiso.xlsx")
#redpiso_detalles= pd.read_excel("Detalle_RedPiso.xlsx")

In [517]:
# Bien aqui vamos a construir una funcion que recorra todo el dataframe y tome los caracteres especiales 
# las comas, los puntos, entre otros y los reemplaza con nada o sea basicamente eliminarlos. 

#def limpiar_texto(x):
 #   return re.sub(r'[^\w\s]','',unidecode(str(x)))

In [518]:
#def limpiar_valores(valor):
 #   if type(valor) == str:
  #      valor = re.sub(r'[^\w\s]','', valor)
   #     valor = valor.strip()
    #return valor

In [519]:
#def normalize_string(s):
 #  if pd.notna(s):
  #      s = unicodedata.normalize('NFD', s)  # Descomponer los caracteres con acento
     #   s = ''.join([c for c in s if not unicodedata.combining(c)])  # Eliminar los caracteres de acento
      #  s = s.lower()  # Convertir a minúsculas
    #return s

----------

In [520]:
## Aqui empieza el primer tratamiento de redpiso normal

In [521]:
redpiso_normal.columns

Index(['Título', 'propertylistoptionsitememblem', 'propertylistoptionsitem',
       'dormitorios', 'banos', 'itemlink_URL', 'itemlink', 'officelink_URL',
       'officelink'],
      dtype='object')

In [522]:
redpiso_normal["itemlink_URL"].value_counts(dropna=False)

itemlink_URL
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-pinzon-vista-alegre-carabanchel-madrid-madrid-RP302023121517                                                            2
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-benimamet-san-cristobal-villaverde-madrid-madrid-RP2842024125161                                                        1
https://www.redpiso.es/inmueble/piso-en-venta-en-pilar-fuencarral-el-pardo-madrid-madrid-RP462023121637                                                                        1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-alcala-de-guadaira-portazgo-puente-de-vallecas-madrid-madrid-RP082023121205                                             1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-sierra-de-cuerda-larga-nueva-numancia-puente-de-vallecas-madrid-madrid-RP022022105196                                   1
                                                                                                                                                                              ..
https://www.redpiso.es/inmueble/piso-en-venta-en-avenida-ensanche-de-vallecas-ensanche-de-vallecas-villa-de-vallecas-ensanche-y-santa-eugenia-madrid-madrid-RP2062024131501    1
https://www.redpiso.es/inmueble/estudio-en-venta-en-prosperidad-chamartin-madrid-madrid-RP1892024128590                                                                        1
https://www.redpiso.es/inmueble/piso-en-venta-en-los-rosales-villaverde-madrid-madrid-RP182024130223                                                                           1
https://www.redpiso.es/inmueble/piso-en-venta-en-los-rosales-villaverde-madrid-madrid-RP182024130127                                                                           1
https://www.redpiso.es/inmueble/piso-en-venta-en-usera-madrid-madrid-RP782024126316                                                                                            1
Name: count, Length: 2107, dtype: int64

In [523]:
# Extraer la última palabra después del guion 

redpiso_normal["referencia"] = redpiso_normal['itemlink_URL'].apply(lambda x: re.findall(r'[^-]+$', x)[0])

In [524]:
# Conversion de letras a minusculas en las columnas
redpiso_normal.columns= redpiso_normal.columns.str.lower()

In [525]:
# Columnas que seran eliminadas ya previamente analizadas.
#columnas_a_eliminar = ["item","item1","imagen4","propertylistoptionsitem3","número5"]
#eliminadas en fichero
#redpiso_normal= redpiso_normal.drop(columns=columnas_a_eliminar)

In [526]:
redpiso_normal.head(5)

,título,propertylistoptionsitememblem,propertylistoptionsitem,dormitorios,banos,itemlink_url,itemlink,officelink_url,officelink,referencia
0,106.500 €,RESERVADO,64 m²,2 hab.,1.0,https://www.redpiso.es/inmueble/piso-en-venta-...,"Piso en venta en CALLE BENIMAMET, San Cristóba...",https://www.redpiso.es/oficina/inmobiliaria-sa...,REDPISO SAN CRISTOBAL,RP2842024125161
1,119.000 €,NaN,30 m²,1 hab.,1.0,https://www.redpiso.es/inmueble/piso-en-venta-...,"Piso en venta en Usera, Madrid, Madrid",https://www.redpiso.es/oficina/inmobiliaria-us...,REDPISO USERA-ORCASITAS,RP782024130863
2,120.000 €,RESERVADO,37 m²,1 hab.,1.0,https://www.redpiso.es/inmueble/piso-en-venta-...,"Piso en venta en Buenavista, Carabanchel, Madr...",https://www.redpiso.es/oficina/inmobiliaria-pa...,REDPISO PAU CARABANCHEL,RP442024126007
3,120.000 €,RESERVADO,33 m²,1 hab.,1.0,https://www.redpiso.es/inmueble/piso-en-venta-...,"Piso en venta en Buenavista, Carabanchel, Madr...",https://www.redpiso.es/oficina/inmobiliaria-pa...,REDPISO PAU CARABANCHEL,RP442024126427
4,127.500 €,RESERVADO,58 m²,3 hab.,1.0,https://www.redpiso.es/inmueble/piso-en-venta-...,"Piso en venta en CALLE BENIFERRI, San Cristóba...",https://www.redpiso.es/oficina/inmobiliaria-sa...,REDPISO SAN CRISTOBAL,RP2842024130186

In [527]:
redpiso_normal.columns

Index(['título', 'propertylistoptionsitememblem', 'propertylistoptionsitem',
       'dormitorios', 'banos', 'itemlink_url', 'itemlink', 'officelink_url',
       'officelink', 'referencia'],
      dtype='object')

In [528]:
# Renombramiento de la columna.
redpiso_normal = redpiso_normal.rename(columns={"título": "precio"})
#redpiso_normal = redpiso_normal.rename(columns={"imagen": "url_imagen"})
redpiso_normal = redpiso_normal.rename(columns={"propertylistoptionsitememblem": "reservado"})
redpiso_normal = redpiso_normal.rename(columns={"propertylistoptionsitem": "m2_constr"})
redpiso_normal = redpiso_normal.rename(columns={"propertylistoptionsitem2": "dormitorios"})
redpiso_normal = redpiso_normal.rename(columns={"itemlink_url": "url"})
redpiso_normal = redpiso_normal.rename(columns={"itemlink": "title"})
#redpiso_normal = redpiso_normal.rename(columns={"número": "contacto"})
redpiso_normal = redpiso_normal.rename(columns={"officelink": "nombre_oficina"})

In [529]:
redpiso_normal["precio"].value_counts(dropna=False)

precio
A consultar    640
280.000 €       21
185.000 €       20
230.000 €       19
180.000 €       18
              ...
182.500 €        1
187.050 €        1
1.849.000 €      1
1.380.000 €      1
1.990.000 €      1
Name: count, Length: 482, dtype: int64

In [530]:
# Eliminar las filas donde el precio es "A consultar"
redpiso_normal = redpiso_normal[redpiso_normal['precio'] != 'A consultar']

In [531]:
#for col in redpiso_normal.columns: 
 #   if col != 'url': 
  #      redpiso_normal[col] = redpiso_normal[col].apply(limpiar_valores)

In [532]:
# Rellena los valores nulos a sin_reserva
#redpiso_normal["reservado/sin_reserva"]= redpiso_normal["reservado/sin_reserva"].fillna("sin_reserva")

In [533]:
# Expresion regular que recorre la columna extrae los numeros de la cada valor y elimina lo demas.aplicada a la columna que se muestra.

redpiso_normal["dormitorios"] = redpiso_normal["dormitorios"].str.extract(r'(\d+)')

redpiso_normal["m2_constr"] = redpiso_normal["m2_constr"].str.extract(r'(\d+)')
# Asignar 1 a "Reservado", 0 a "Sin Reserva" y dejar el resto como están
redpiso_normal["reservado"] = redpiso_normal["reservado"].apply(lambda x: 1 if str(x).strip().upper() == "RESERVADO" else 0)

In [534]:
redpiso_normal.isna().sum()

precio             0
reservado          0
m2_constr          3
dormitorios        2
banos             34
url                0
title              0
officelink_url     0
nombre_oficina     0
referencia         0
dtype: int64

In [622]:
redpiso_normal ["precio"]= redpiso_normal["precio"].str.replace('€',"")

In [627]:
col_tiponuevo= ["precio","m2_constr","dormitorios","banos"]

redpiso_normal = redpiso_normal.replace("nan",0)
redpiso_normal[col_tiponuevo]=redpiso_normal[col_tiponuevo].fillna(0)

# Eliminar los separadores de miles solo para los valores mayores a 1.000.000
redpiso_normal['precio'] = redpiso_normal['precio'].apply(lambda x: x.replace('.', '') if float(x.replace('.', '')) >= 1000000 else x)
redpiso_normal[col_tiponuevo] = redpiso_normal[col_tiponuevo].astype("float")

redpiso_normal[col_tiponuevo]=redpiso_normal[col_tiponuevo].replace(0,np.nan)

In [ ]:
redpiso_normal["web"]="redpiso"
redpiso_normal["fecha_descarga"]="28/10/2024"

In [535]:
redpiso_normal.shape

(1468, 10)

### **_Aqui se termina el tratamiento de redpiso_normal,ahora sigue el procesmiento de redpiso_detalles_**

In [536]:
redpiso_detalles.head(3)

,Título,Campo1,Campo2,Campo3,Campo4,Campo5,Campo6,Tiempo,Tiempo1,Campo7,Campo8,Campo9,Campo10,Campo11,Campo12,Campo13,Tiempo2,Campo14,Campo15,Tiempo3,Campo16,Campo17,Campo18,Tiempo4,Campo19
0,"Piso en venta en CALLE BENIMAMET, San Cristóba...",106.500 €,"Piso en venta en CALLE BENIMAMET, San Cristóba...",ESTUPENDA VIVIENDA EN CALLE BENIMAMET,RP2842024125161,"Piso en venta en CALLE BENIMAMET, San Cristóba...",REF: RP2842024125161,Nº Visitas 5857,02/04/2024,64 m²,2.0,1.0,ESTUPENDA VIVIENDA EN CALLE BENIMAMET,"Redpiso San Cristobal de los Ángeles, inscrito...",Metros: 64 m²,Metros útiles: 60 m²,Dormitorios: 2,Exterior,Estado: Perfecto Estado,Baños: 1,Aire acondicionado,Agua caliente: Individual,Tipo de suelo: Tarima normal,Año de construcción: 1962,Antigüedad: Más de 50 años
1,"Piso en venta en Usera, Madrid, Madrid",119.000 €,"Piso en venta en Usera, Madrid, Madrid\n ...",ESTUDIO JARDINES DE YBARRA II,RP782024130863,"Piso en venta en Usera, Madrid, Madrid",REF: RP782024130863,Nº Visitas 714,02/10/2024,30 m²,1.0,1.0,ESTUDIO JARDINES DE YBARRA II,Redpiso vende en exclusiva ACOGEDOR ESTUDIO en...,Metros: 30 m²,Metros útiles: 27 m²,Dormitorios: 1,Cal. energética:,Armarios: 1,Baños: 1,Estado: Perfecto Estado,Orientación: Sur,Exterior,Agua caliente: Individual,Cocina equipada
2,"Piso en venta en Buenavista, Carabanchel, Madr...",120.000 €,"Piso en venta en Buenavista, Carabanchel, Madr...",¡Tu nuevo hogar te espera en Buena Vista!,RP442024126007,"Piso en venta en Buenavista, Carabanchel, Madr...",REF: RP442024126007,Nº Visitas 3387,26/04/2024,37 m²,1.0,1.0,¡Tu nuevo hogar te espera en Buena Vista!,Redpiso vende en exclusiva este encantador est...,Metros: 37 m²,Metros útiles: 34 m²,Dormitorios: 1,Cal. energética:,Armarios: 1,Baños: 1,Consumo: 111 KW h/m² año,Emisiones: 18 Kg CO2/m² año,Estado: Perfecto Estado,Exterior,Orientación: Sur

In [537]:
# eliminacion de columnas
#redpiso_detalles= redpiso_detalles.drop("descripcion", axis=1)


redpiso_detalles = redpiso_detalles.drop("Campo5", axis=1)
#redpiso_detalles = redpiso_detalles.drop("Campo9",axis=1)
#redpiso_detalles = redpiso_detalles.drop("Campo10",axis=1)
#redpiso_detalles = redpiso_detalles.drop ("Campo11", axis=1)
#redpiso_detalles = redpiso_detalles.drop("Campo12",axis=1)
redpiso_detalles = redpiso_detalles.drop("Campo8", axis= 1)
redpiso_detalles = redpiso_detalles.drop("Campo3", axis= 1)
redpiso_detalles = redpiso_detalles.drop("Campo6", axis= 1)

In [538]:
# renombramiento de columnas 
redpiso_detalles = redpiso_detalles.rename( columns={"Campo1": "precio"})
redpiso_detalles = redpiso_detalles.rename(columns={"Campo2":"descripcion"})
redpiso_detalles = redpiso_detalles.rename(columns={"Tiempo":"cantidad_visitas"})
redpiso_detalles = redpiso_detalles.rename(columns={"Tiempo1":"fecha_publicacion"})
redpiso_detalles = redpiso_detalles.rename(columns={"Campo7":"m2_constr"})
redpiso_detalles = redpiso_detalles.rename(columns={"Tiempo1":"fecha_publicacion"})
redpiso_detalles = redpiso_detalles.rename(columns={"Campo4": "referencia"})
redpiso_detalles = redpiso_detalles.rename( columns={"Título": "title"})
#redpiso_detalles= redpiso_detalles.rename(columns={"campo12":"m2_constr"})
#redpiso_detalles= redpiso_detalles.rename(columns={"campo13":"m2_utiles"})
#redpiso_detalles = redpiso_detalles.rename(columns={"tiempo2": "dormitorios"})
#redpiso_detalles = redpiso_detalles.rename(columns={"Campo9": "banos"})
#redpiso_detalles = redpiso_detalles.rename(columns={"campo15": "cant_armarios"})
#redpiso_detalles= redpiso_detalles.rename(columns={"campo14":"calidad_energetica"})
redpiso_detalles= redpiso_detalles.rename(columns={"campo10":"titularanuncio"})
redpiso_detalles= redpiso_detalles.rename(columns={"campo11":"descripcion_detallada"})
#redpiso_detalles= redpiso_detalles.rename(columns={"campo4":"referencia"})

In [591]:
# Eliminar las filas donde el precio es "A consultar"
redpiso_detalles = redpiso_detalles[redpiso_detalles['precio'] != 'A consultar']
redpiso_detalles ["precio"]= redpiso_detalles["precio"].str.replace('€',"")

In [540]:
# Columnas a minusculas
redpiso_detalles.columns = redpiso_detalles.columns.str.lower()

In [541]:
redpiso_detalles.isna().sum()

title                  0
precio                 0
descripcion            0
referencia             0
cantidad_visitas       0
fecha_publicacion      0
m2_constr              2
campo9                25
campo10              498
campo11               11
campo12                0
campo13                2
tiempo2                4
campo14                5
campo15                0
tiempo3                0
campo16                9
campo17               28
campo18               48
tiempo4              111
campo19               77
dtype: int64

In [542]:
redpiso_detalles

,title,precio,descripcion,referencia,cantidad_visitas,fecha_publicacion,m2_constr,campo9,campo10,campo11,campo12,campo13,tiempo2,campo14,campo15,tiempo3,campo16,campo17,campo18,tiempo4,campo19
0,"Piso en venta en CALLE BENIMAMET, San Cristóba...",106.500 €,"Piso en venta en CALLE BENIMAMET, San Cristóba...",RP2842024125161,Nº Visitas 5857,02/04/2024,64 m²,1.0,ESTUPENDA VIVIENDA EN CALLE BENIMAMET,"Redpiso San Cristobal de los Ángeles, inscrito...",Metros: 64 m²,Metros útiles: 60 m²,Dormitorios: 2,Exterior,Estado: Perfecto Estado,Baños: 1,Aire acondicionado,Agua caliente: Individual,Tipo de suelo: Tarima normal,Año de construcción: 1962,Antigüedad: Más de 50 años
1,"Piso en venta en Usera, Madrid, Madrid",119.000 €,"Piso en venta en Usera, Madrid, Madrid\n ...",RP782024130863,Nº Visitas 714,02/10/2024,30 m²,1.0,ESTUDIO JARDINES DE YBARRA II,Redpiso vende en exclusiva ACOGEDOR ESTUDIO en...,Metros: 30 m²,Metros útiles: 27 m²,Dormitorios: 1,Cal. energética:,Armarios: 1,Baños: 1,Estado: Perfecto Estado,Orientación: Sur,Exterior,Agua caliente: Individual,Cocina equipada
2,"Piso en venta en Buenavista, Carabanchel, Madr...",120.000 €,"Piso en venta en Buenavista, Carabanchel, Madr...",RP442024126007,Nº Visitas 3387,26/04/2024,37 m²,1.0,¡Tu nuevo hogar te espera en Buena Vista!,Redpiso vende en exclusiva este encantador est...,Metros: 37 m²,Metros útiles: 34 m²,Dormitorios: 1,Cal. energética:,Armarios: 1,Baños: 1,Consumo: 111 KW h/m² año,Emisiones: 18 Kg CO2/m² año,Estado: Perfecto Estado,Exterior,Orientación: Sur
3,"Piso en venta en Buenavista, Carabanchel, Madr...",120.000 €,"Piso en venta en Buenavista, Carabanchel, Madr...",RP442024126427,Nº Visitas 2924,10/05/2024,33 m²,1.0,¡Tu nuevo hogar te espera en Buena Vista!,Redpiso vende en exclusiva este encantador est...,Metros: 33 m²,Metros útiles: 30 m²,Dormitorios: 1,Cal. energética:,Armarios: 1,Baños: 1,Consumo: 145 KW h/m² año,Emisiones: 24 Kg CO2/m² año,Estado: Perfecto Estado,Agua caliente: Individual,Orientación: Oeste
4,"Piso en venta en CALLE BENIFERRI, San Cristóba...",127.500 €,"Piso en venta en CALLE BENIFERRI, San Cristóba...",RP2842024130186,Nº Visitas 485,12/09/2024,58 m²,1.0,VIVIENDA EN CALLE BENIFERRI,"Redpiso San Cristobal de los Ángeles, inscrito...",Metros: 58 m²,Metros útiles: 50 m²,Dormitorios: 3,Exterior,Estado: Perfecto Estado,Baños: 1,Ascensor,Aire acondicionado,Agua caliente: Gas natural,Tipo de suelo: Terrazo,Calefacción: Gas Natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090,"Piso en venta en CALLE NARVAEZ, Retiro, Madrid...",1.450.000 €,"Piso en venta en CALLE NARVAEZ, Retiro, Madrid...",RP962024124554,Nº Visitas 376,11/03/2024,158 m²,3.0,"Piso en venta en CALLE NARVAEZ, Retiro, Madrid...",REDPISO RETIRO pone a su disposición este piso...,Metros: 158 m²,Metros útiles: 129 m²,Dormitorios: 3,Garajes: 1,Armarios: 3,Baños: 3,Estado: Perfecto Estado,Orientación: Este,Exterior,Trastero,Ascensor
2091,"Piso en venta en CALLE FERNÁNDEZ DE LA HOZ, Al...",1.990.000 €,"Piso en venta en CALLE FERNÁNDEZ DE LA HOZ, Al...",RP1922024124579,Nº Visitas 443,11/03/2024,317 m²,3.0,NaN,En pleno barrio de Almagro. Vivienda para refo...,Metros: 317 m²,Metros útiles: 181 m²,Dormitorios: 4,Garajes: 2,Armarios: 7,Baños: 3,Estado: A reformar,Orientación: Noroeste,Exterior,Trastero,Ascensor
2095,"Piso en venta en Aluche, Latina, Madrid, Madrid",110.000 €,"Piso en venta en Aluche, Latina, Madrid, Madri...",RP272023121667,Nº Visitas 864,13/12/2023,68 m²,1.0,NaN,REDPISO ALUCHE CAMARENA vende en exclusiva una...,Metros: 68 m²,Metros útiles: 66 m²,Dormitorios: 2,Orientación: Este,Estado: A reformar,Baños: 1,Tipo de suelo: Parquet,Antigüedad: Más de 50 años,Año de construcción: 1965,Número de terrazas: 1,Plantas: 5
2096,"Piso en venta en CALLE FONDON, Apóstol Santiag...",170.000 €,"Piso en venta en CALLE FONDON, Apóstol Santiag...",RP2532022104355,Nº Visitas 2475,19/09/2022,107 m²,2.0,NaN,¡Excelente Oportunidad! Piso en venta que cuen...,Metros: 107 m²,Metros útiles: 97 m²,Dormitorios: 3,Estado: Perfecto Estado,Armarios: 3,Baños: 2,Orientación: Sur,Exterior,Ascensor,Zonas verdes,Cocina equipada
2097,"Piso en venta en CALLE INFANTA MERCEDES, 11, C...",420.000 €,"Piso en venta en CALLE INFANTA MERCEDES, 11, C...",RP2332024131076,Nº Visitas 72,08/10/2024,61 m²,1.0,NaN,NaN,Metros: 61 m²,Metros útiles: 49 m²,Dormitorios: 2,Estado: Perfecto Estado,Armarios: 1,Baños: 1,Exterior,Ascensor,Cocina equipada,Agua caliente: Central,Aire acondicionado

In [543]:
# Eliminacion de las primeras 3 letras en la referencia web - REF- dejando solo la referencia 
#redpiso_detalles["referencia_web"] = redpiso_detalles["referencia_web"].str[3:].str.strip()

In [544]:
# Reemplace todas las letras ñ por n.
#redpiso_detalles = redpiso_detalles.apply(lambda col : col.str.replace("ñ","n")if col.dtype == "object" else col)



#  Cree una funcion corta que recorre cada valor del dataset y toma los valores que especificmaos en la funcion anterior.
#redpiso_detalles = redpiso_detalles.apply(lambda col: col.apply(limpiar_valores))


# Cree una funcion que elimina todos los acentos  y caracteres especiales
#redpiso_detalles = redpiso_detalles.apply(lambda x: x.apply(lambda y: unidecode(y) if isinstance(y,str) else y )if x.dtype == "object" else x)

In [545]:
#valores_buscar= ["Dormitorios 1", "Dormitorios 2", "Dormitorios 3", "Dormitorios 4","Dormitorios1", "Dormitorios2","Dormitorios3", "Dormitorios4",
               #   "Dormitorios 5", "Dormitorios 6", "Dormitorios 7", "Dormitorios 8","Dormitorios  8", "Dormitorios 9", "Dormitorios 10", "Dormitorios5","Dormitorios6",
                #  "Dormitorios7", "Dormitorios8", "Dormitoros9"]

#crear_columnas(redpiso_detalles,"dormitorios",valores_buscar)

#valores_buscar= ["Banos 1", "Banos 2", "Banos 3", "Banos 4","Banos 5","Banos 6","Banos 7","Banos 8",
 #                  "Banos1", "Banos2", "Banos3", "Banos4", "Banos5", "Banos6", "Banos7","Banos8"]
#crear_columnas(redpiso_detalles,"banos",valores_buscar)



valores_buscar = [
    "primera planta", "Primera planta", "1ª planta", "1a planta",
    "segunda planta", "Segunda planta", "2ª planta", "2a planta",
    "tercera planta", "Tercera planta", "3ª planta", "3a planta",
    "cuarta planta", "Cuarta planta", "4ª planta", "4a planta",
    "quinta planta", "Quinta planta", "5ª planta", "5a planta",
    "sexta planta", "Sexta planta", "6ª planta", "6a planta",
    "séptima planta", "Séptima planta", "7ª planta", "7a planta",
    "octava planta", "Octava planta", "8ª planta", "8a planta",
    "novena planta", "Novena planta", "9ª planta", "9a planta",
    "décima planta", "Décima planta", "10ª planta", "10a planta",
    "undécima planta", "Undécima planta", "11ª planta", "11a planta",
    "duodécima planta", "Duodécima planta", "12ª planta", "12a planta",
    "decimotercera planta", "Decimotercera planta", "13ª planta", "13a planta",
    "decimocuarta planta", "Decimocuarta planta", "14ª planta", "14a planta",
    "decimoquinta planta", "Decimoquinta planta", "15ª planta", "15a planta",
    "decimosexta planta", "Decimosexta planta", "16ª planta", "16a planta",
    "decimoséptima planta", "Decimoséptima planta", "17ª planta", "17a planta",
    "decimoctava planta", "Decimoctava planta", "18ª planta", "18a planta",
    "decimonovena planta", "Decimonovena planta", "19ª planta", "19a planta",
    "vigésima planta", "Vigésima planta", "20ª planta", "20a planta"
]



crear_columnas(redpiso_detalles, "planta", valores_buscar)

In [ ]:
patron = r'(?i)^baño' 
crear_columnas_conpatron(redpiso_detalles,"banos",patron,True)
patron = r'(?i)^dormitorio' 
crear_columnas_conpatron(redpiso_detalles,"dormitorios",patron,True)
patron = r'(?i)^armario' 
crear_columnas_conpatron(redpiso_detalles,"armarios",patron,False)

patron = r'(?i)^consumo' 
crear_columnas_conpatron(redpiso_detalles,"consumo_energetico",patron,True)

patron = r'(?i)^emisiones' 
crear_columnas_conpatron(redpiso_detalles,"emisiones_CO2",patron,True)

#patron = r'(?i)^cal' 
#crear_columnas_conpatron(redpiso_detalles,"cal_energetica",patron)
patron = r'(?i)^estado' 
crear_columnas_conpatron(redpiso_detalles,"estado",patron,True)
patron = r'(?i)^reformado' 
crear_columnas_conpatron(redpiso_detalles,"estado",patron,False)
patron = r'(?i)^obra nueva' 
crear_columnas_conpatron(redpiso_detalles,"estado",patron,False)
patron = r'(?i)^Antigüedad' 
crear_columnas_conpatron(redpiso_detalles,"antiguedad",patron,True)
patron = r'(?i)^ascensor' 
crear_columnas_conpatron(redpiso_detalles,"ascensor",patron,True)
patron = r'(?i)^con ascensor' 
crear_columnas_conpatron(redpiso_detalles,"ascensor",patron,False)
patron = r'(?i)^sin ascensor' 
crear_columnas_conpatron(redpiso_detalles,"sin_ascensor",patron,False)
patron = r'(?i)^aire_acondicionado' 
crear_columnas_conpatron(redpiso_detalles,"aire_acondicionado",patron,False)

patron = r'(?i)^orientacion' 

crear_columnas_conpatron(redpiso_detalles,"orientacion",patron,False)

patron = r'(?i)^agua_caliente' 
crear_columnas_conpatron(redpiso_detalles,"agua_caliente",patron,True)

patron = r'(?i)^calefaccion' 
crear_columnas_conpatron(redpiso_detalles,"calefaccion",patron,True)

patron = r'(?i)^tipo de suelo' 
crear_columnas_conpatron(redpiso_detalles,"tipo_suelo",patron,True)

patron = r'(?i)^tipo de fachada' 
crear_columnas_conpatron(redpiso_detalles,"tipo_fachada",patron,True)

patron = r'(?i)^cocina_equipada' 
crear_columnas_conpatron(redpiso_detalles,"cocina",patron,True)

patron = r'(?i)^garaje' 
crear_columnas_conpatron(redpiso_detalles,"garaje",patron,False)

patron = r'(?i)^Metros útiles:' 
crear_columnas_conpatron(redpiso_detalles,"m2_utiles",patron,True)

patron = r'(?i)^exterior' 
crear_columnas_conpatron(redpiso_detalles,"exterior",patron,False)
patron = r'(?i)^interior' 
crear_columnas_conpatron(redpiso_detalles,"interior",patron,False)

patron = r'(?i)^trastero' 
crear_columnas_conpatron(redpiso_detalles,"trastero",patron,False)

patron = r'(?i)^piscina'
crear_columnas_conpatron(redpiso_detalles,"piscina",patron,False)

patron = r'(?i)^zonas_verdes'
crear_columnas_conpatron(redpiso_detalles,"zonas",patron,True)

patron = r'(?i)^comunidad'
crear_columnas_conpatron(redpiso_detalles,"gastos_comunidad",patron,True)

patron = r'(?i)^terraza'
crear_columnas_conpatron(redpiso_detalles,"terraza",patron,False)

patron = r'(?i)^minusvalido'
crear_columnas_conpatron(redpiso_detalles,"acceso_minusvalido",patron,False)
patron = r'(?i)^blindada'
crear_columnas_conpatron(redpiso_detalles,"puerta_blindada",patron,False)
patron = r'(?i)^alarma'
crear_columnas_conpatron(redpiso_detalles,"alarma",patron,False)
patron = r'(?i)^portero'
crear_columnas_conpatron(redpiso_detalles,"porteria",patron,False)
patron = r'(?i)^conserje'
crear_columnas_conpatron(redpiso_detalles,"porteria",patron,False)
patron = r'(?i)^amueblado'
crear_columnas_conpatron(redpiso_detalles,"amueblado",patron,False)
patron = r'(?i)^cocina independiente'
crear_columnas_conpatron(redpiso_detalles,"cocina_independiente",patron,False)
patron = r'(?i)^cocina equipada'
crear_columnas_conpatron(redpiso_detalles,"cocina_equipada",patron,False)
patron = r'(?i)^cocina americana'
crear_columnas_conpatron(redpiso_detalles,"cocina_americana",patron,False)
patron = r'(?i)^cocina integrada'
crear_columnas_conpatron(redpiso_detalles,"cocina_integrada",patron,False)
patron = r'(?i)^plantas'
crear_columnas_conpatron(redpiso_detalles,"num_plantas",patron,False)
patron = r'(?i)^pisos'
crear_columnas_conpatron(redpiso_detalles,"num_pisos",patron,False)

In [562]:
redpiso_detalles["armario"].value_counts(dropna=False)

KeyError: 'armario'

In [561]:
redpiso_detalles["m2_utiles"].value_counts(dropna=False)

m2_utiles
NaN                     394
Metros útiles 60 m²      40
Metros útiles 50 m²      34
Metros útiles 80 m²      32
Metros útiles 66 m²      30
                       ...
Metros útiles 318 m²      1
Metros útiles 240 m²      1
Metros útiles 109 m²      1
Metros útiles 159 m²      1
Metros útiles 181 m²      1
Name: count, Length: 153, dtype: int64

In [615]:
def eliminar_no_visitas(texto):
    # Eliminar "No Visitas" y dejar solo el número que le sigue
    return re.sub(r'(?i)No Visitas\s*(\d+)', r'\1', str(texto))

# Aplicar la función a la columna "cantidad_visitas"
redpiso_detalles["cantidad_visitas"] = redpiso_detalles["cantidad_visitas"].str.replace("Nº Visitas ","",case=False,regex=True)
redpiso_detalles["m2_utiles"] = redpiso_detalles["m2_utiles"].str.replace("m2", "", case=False, regex= True)
redpiso_detalles["m2_constr"] = redpiso_detalles["m2_constr"].str.replace("m²", "", case=False, regex= True)
redpiso_detalles["dormitorios"] = redpiso_detalles["dormitorios"].str.replace("s", "", case=False, regex= True)
redpiso_detalles["banos"] = redpiso_detalles["banos"].str.replace("s", "", case=False, regex= True)
redpiso_detalles["armarios"] = redpiso_detalles["armarios"].str.replace("Armarios: ", "", case=False, regex= True)

In [616]:
# eliminacion de columnas 
redpiso_detalles= redpiso_detalles.drop(columns=["campo13","tiempo2","campo14","campo15","tiempo3","campo16","campo17","campo18","tiempo4","campo19"])

KeyError: "['campo13', 'tiempo2', 'campo14', 'campo15', 'tiempo3', 'campo16', 'campo17', 'campo18', 'tiempo4', 'campo19'] not found in axis"

In [564]:
redpiso_detalles.shape

(1468, 34)

In [ ]:
# Reemplazo de valores nulos por ceros y los otros por unos 
#columnas_binario= ["amueblado","alarma","porteria","puerta_seguridad","acceso_minusvalido","aire_acondicionado",
 #                  "ascensor","piscina","trastero","Zonas_verdes"]

#redpiso_detalles[columnas_binario]= redpiso_detalles[columnas_binario].notnull().astype(int)

-----------

In [629]:
redpiso_detalles2= redpiso_detalles
redpiso_normal2= redpiso_normal

In [580]:
redpiso_detalles2.columns

Index(['title', 'precio', 'descripcion', 'referencia', 'cantidad_visitas',
       'fecha_publicacion', 'm2_constr', 'campo9', 'campo10', 'campo11',
       'campo12', 'planta', 'banos', 'dormitorios', 'armarios',
       'consumo_energetico', 'emisiones_CO2', 'estado', 'antiguedad',
       'ascensor', 'tipo_suelo', 'tipo_fachada', 'garaje', 'm2_utiles',
       'exterior', 'trastero', 'piscina', 'gastos_comunidad', 'alarma',
       'porteria', 'amueblado', 'cocina_equipada', 'num_plantas', 'num_pisos'],
      dtype='object')

In [581]:
redpiso_detalles2["cantidad_visitas"].value_counts(dropna=False)

cantidad_visitas
1002    6
767     5
330     5
373     4
916     4
       ..
128     1
272     1
262     1
441     1
72      1
Name: count, Length: 1087, dtype: int64

In [73]:
redpiso_normal2.columns      #A diferencia del notebook donde se hizo la el trabajo inicialmente aqui tengo la columna officeling_url

Index(['precio', 'url_imagen', 'reservado', 'm2_constr',
       'cantidad_habitaciones', 'url', 'descripcion', 'contacto',
       'officelink_url', 'nombre_oficina', 'referencia'],
      dtype='object')

In [582]:
redpiso_normal2.isna().sum()

precio             0
reservado          0
m2_constr          3
dormitorios        2
banos             34
url                0
title              0
officelink_url     0
nombre_oficina     0
referencia         0
dtype: int64

In [568]:
redpiso_detalles2.shape

(1468, 34)

In [569]:
redpiso_normal2.shape

(1468, 10)

In [77]:
#redpiso_detalles2["dormitorios"] = redpiso_detalles2["dormitorios"].fillna(redpiso_normal2["habitaciones"].reindex(redpiso_normal2.index))

In [610]:
redpiso_detalles2["dormitorios"]= redpiso_detalles2["dormitorios"].astype(str)
redpiso_detalles2["banos"]= redpiso_detalles2["banos"].astype(str)
redpiso_detalles2["m2_constr"]= redpiso_detalles2["m2_constr"].astype(str) 
redpiso_detalles2["armarios"]= redpiso_detalles2["armarios"].astype(str)
redpiso_detalles2["cantidad_visitas"]= redpiso_detalles2["cantidad_visitas"].astype(str)

In [83]:
# redpiso_detalles['fecha_publicacion'] = pd.to_datetime(redpiso_detalles['fecha_publicacion'].astype(str), format='%d%m%Y')

In [618]:
col_tiponuevo= ["precio","m2_constr","dormitorios","banos","armarios"]

redpiso_detalles2 = redpiso_detalles2.replace("nan",0)
redpiso_detalles2[col_tiponuevo]=redpiso_detalles2[col_tiponuevo].fillna(0)

# Eliminar los separadores de miles solo para los valores mayores a 1.000.000
redpiso_detalles2['precio'] = redpiso_detalles2['precio'].apply(lambda x: x.replace('.', '') if float(x.replace('.', '')) >= 1000000 else x)
redpiso_detalles2[col_tiponuevo] = redpiso_detalles2[col_tiponuevo].astype("float")

redpiso_detalles2[col_tiponuevo]=redpiso_detalles2[col_tiponuevo].replace(0,np.nan)

In [619]:
redpiso_detalles2=redpiso_detalles2.dropna(subset=["precio"])
redpiso_normal2= redpiso_normal2.dropna(subset=["precio"])

In [620]:
redpiso_detalles2.shape,redpiso_normal2.shape

((1468, 34), (1468, 10))

In [ ]:
#nuevos_nombres={
 #   "descripcion":"titulo",
  #  "cantidad_habitaciones":"cantidad_dormitorios"
#}
#redpiso_normal2= redpiso_normal2.rename(columns=nuevos_nombres)

In [90]:
#redpiso_detalles2["espacio_metros_cuadrados"]=redpiso_detalles2["espacio_metros_cuadrados"].fillna(0) #Tenia dos nulos 
#redpiso_detalles2["dormitorios"]=redpiso_detalles2["cantidad_dormitorios"].fillna(0) #Tenia dos nulos

In [ ]:
#redpiso_normal2["precio"]=redpiso_normal2["precio"].astype("float")
#redpiso_detalles2["precio"]=redpiso_detalles2["precio"].astype("float")
#redpiso_detalles2["dormitorios"]=redpiso_detalles2["dormitorios"].astype("int")
#redpiso_detalles2["m2_constr"]=redpiso_detalles2["m2_constr"].astype("float")

ValueError: could not convert string to float: '1.380.000 '

In [92]:
redpiso_normal2.head(5)

,precio,url_imagen,reservado,m2_constr,cantidad_dormitorios,url,titulo,contacto,officelink_url,nombre_oficina,referencia
0,106500,NaN,1,64,2,https://www.redpiso.es/inmueble/piso-en-venta-...,Piso en venta en CALLE BENIMAMET San Cristóbal...,919208536,httpswwwredpisoesoficinainmobiliariasancristob...,REDPISO SAN CRISTOBAL,RP2842024125161
1,119000,NaN,0,30,1,https://www.redpiso.es/inmueble/piso-en-venta-...,Piso en venta en Usera Madrid Madrid,914282010,httpswwwredpisoesoficinainmobiliariauseraorcas...,REDPISO USERAORCASITAS,RP782024130863
2,120000,NaN,1,37,1,https://www.redpiso.es/inmueble/piso-en-venta-...,Piso en venta en Buenavista Carabanchel Madrid...,915996359,httpswwwredpisoesoficinainmobiliariapaucaraban...,REDPISO PAU CARABANCHEL,RP442024126007
3,120000,NaN,1,33,1,https://www.redpiso.es/inmueble/piso-en-venta-...,Piso en venta en Buenavista Carabanchel Madrid...,915996359,httpswwwredpisoesoficinainmobiliariapaucaraban...,REDPISO PAU CARABANCHEL,RP442024126427
4,127500,httpswwwredpisoesuploadpropertiesthumbsimg_951...,1,58,3,https://www.redpiso.es/inmueble/piso-en-venta-...,Piso en venta en CALLE BENIFERRI San Cristóbal...,919208536,httpswwwredpisoesoficinainmobiliariasancristob...,REDPISO SAN CRISTOBAL,RP2842024130186

In [93]:
redpiso_normal2.dtypes

precio                  object
url_imagen              object
reservado                int64
m2_constr               object
cantidad_dormitorios    object
url                     object
titulo                  object
contacto                object
officelink_url          object
nombre_oficina          object
referencia              object
dtype: object

In [94]:
#redpiso_normal2["espacio_metros_cuadrados"]=redpiso_normal2["espacio_metros_cuadrados"].fillna(0) #Tenia 4 nulos 
#redpiso_normal2["cantidad_dormitorios"]=redpiso_normal2["cantidad_dormitorios"].fillna(0) #Tenia 3 nulos

In [ ]:
#redpiso_normal2["precio"]=redpiso_normal2["precio"].astype("float")
#redpiso_normal2["espacio_metros_cuadrados"]=redpiso_normal2["espacio_metros_cuadrados"].astype("float")

In [96]:
redpiso_detalles2.dtypes

título                       object
precio                      float64
referencia                   object
cantidad_visitas             object
fecha_publicacion            object
espacio_metros_cuadrados    float64
banos                       float64
campo10                      object
campo11                      object
campo12                      object
dormitorios                 float64
cantidad_armarios           float64
consumo_energia              object
emisiones_CO2                object
cal_energetica               object
estado                       object
antiguedad                   object
ascensor                      int32
aire_acondicionado            int32
orientacion                  object
agua_caliente                object
calefaccion                  object
Tipo de suelo_fachada        object
cocina_equipada               int32
garaje                       object
m2_utiles                    object
vista_zona                   object
piscina                       int32
trastero                      int32
gastos_comunidad             object
Zonas_verdes                  int32
terrazas                     object
acceso_minusvalido            int32
puerta_seguridad              int32
conserje                      int32
num_plantas                  object
num_pisos                    object
alarma                        int32
amueblado                     int32
dtype: object

In [97]:
redpiso_detalles2 = redpiso_detalles2.rename(columns={"título":"titulo"})

In [98]:
redpiso_normal2.columns

Index(['precio', 'url_imagen', 'reservado', 'm2_constr',
       'cantidad_dormitorios', 'url', 'titulo', 'contacto', 'officelink_url',
       'nombre_oficina', 'referencia'],
      dtype='object')

In [99]:
redpiso_detalles2.shape,redpiso_normal2.shape

((1468, 39), (1468, 11))

In [587]:
redpiso_detalles2['titulo'].equals(redpiso_detalles2['titulo'])

KeyError: 'titulo'

In [ ]:
#elimino columnas iguales de los 2 dataframes
#colseliminar=["titulo",'precio']
#redpiso_detalles2.drop(columns=colseliminar,inplace=True)

In [102]:
redpiso_detalles2.columns

Index(['referencia', 'cantidad_visitas', 'fecha_publicacion',
       'espacio_metros_cuadrados', 'banos', 'campo10', 'campo11', 'campo12',
       'dormitorios', 'cantidad_armarios', 'consumo_energia', 'emisiones_CO2',
       'cal_energetica', 'estado', 'antiguedad', 'ascensor',
       'aire_acondicionado', 'orientacion', 'agua_caliente', 'calefaccion',
       'Tipo de suelo_fachada', 'cocina_equipada', 'garaje', 'm2_utiles',
       'vista_zona', 'piscina', 'trastero', 'gastos_comunidad', 'Zonas_verdes',
       'terrazas', 'acceso_minusvalido', 'puerta_seguridad', 'conserje',
       'num_plantas', 'num_pisos', 'alarma', 'amueblado'],
      dtype='object')

In [103]:
redpiso_detalles2["referencia"]

0       REF RP2842024125161
1        REF RP782024130863
2        REF RP442024126007
3        REF RP442024126427
4       REF RP2842024130186
               ...
2090     REF RP962024124554
2091    REF RP1922024124579
2095     REF RP272023121667
2096    REF RP2532022104355
2097    REF RP2332024131076
Name: referencia, Length: 1468, dtype: object

In [ ]:
# Eliminar "REP" del campo "REF" 
#redpiso_detalles2['referencia'] = redpiso_detalles2['referencia'].str.replace('REF', '').str.strip()

In [105]:
redpiso_detalles2['referencia']

0       RP2842024125161
1        RP782024130863
2        RP442024126007
3        RP442024126427
4       RP2842024130186
             ...
2090     RP962024124554
2091    RP1922024124579
2095     RP272023121667
2096    RP2532022104355
2097    RP2332024131076
Name: referencia, Length: 1468, dtype: object

In [106]:
redpiso_normal2["referencia"]

0       RP2842024125161
1        RP782024130863
2        RP442024126007
3        RP442024126427
4       RP2842024130186
             ...
2090     RP962024124554
2091    RP1922024124579
2095     RP272023121667
2096    RP2532022104355
2097    RP2332024131076
Name: referencia, Length: 1468, dtype: object

In [107]:
df_merge= pd.merge(redpiso_detalles2,redpiso_normal2,how="inner",on=["referencia"],indicator=True)

In [108]:
df_merge.shape

(1470, 48)

In [109]:
df_merge.duplicated().sum()

0

In [110]:
df_merge.isna().sum()

referencia                     0
cantidad_visitas               0
fecha_publicacion              0
espacio_metros_cuadrados       2
banos                          7
campo10                      508
campo11                       12
campo12                     1445
dormitorios                   29
cantidad_armarios            884
consumo_energia             1210
emisiones_CO2               1209
cal_energetica               476
estado                       218
antiguedad                  1139
ascensor                       0
aire_acondicionado             0
orientacion                  715
agua_caliente                778
calefaccion                  890
Tipo de suelo_fachada        956
cocina_equipada                0
garaje                      1163
m2_utiles                      2
vista_zona                   342
piscina                        0
trastero                       0
gastos_comunidad            1439
Zonas_verdes                   0
terrazas                    1426
acceso_minusvalido             0
puerta_seguridad               0
conserje                       0
num_plantas                 1450
num_pisos                   1454
alarma                         0
amueblado                      0
precio                         0
url_imagen                   500
reservado                      0
m2_constr                      3
cantidad_dormitorios           2
url                            0
titulo                         0
contacto                       0
officelink_url                 0
nombre_oficina                 0
_merge                         0
dtype: int64

In [111]:
df_merge.columns

Index(['referencia', 'cantidad_visitas', 'fecha_publicacion',
       'espacio_metros_cuadrados', 'banos', 'campo10', 'campo11', 'campo12',
       'dormitorios', 'cantidad_armarios', 'consumo_energia', 'emisiones_CO2',
       'cal_energetica', 'estado', 'antiguedad', 'ascensor',
       'aire_acondicionado', 'orientacion', 'agua_caliente', 'calefaccion',
       'Tipo de suelo_fachada', 'cocina_equipada', 'garaje', 'm2_utiles',
       'vista_zona', 'piscina', 'trastero', 'gastos_comunidad', 'Zonas_verdes',
       'terrazas', 'acceso_minusvalido', 'puerta_seguridad', 'conserje',
       'num_plantas', 'num_pisos', 'alarma', 'amueblado', 'precio',
       'url_imagen', 'reservado', 'm2_constr', 'cantidad_dormitorios', 'url',
       'titulo', 'contacto', 'officelink_url', 'nombre_oficina', '_merge'],
      dtype='object')

In [113]:
pd.set_option('display.max_colwidth', None)

In [114]:
df_merge= df_merge.rename(columns={'campo10': 'titular_anuncio','campo11':'descripcion_extendida','espacio_metros_cuadrados':'m2constr'})

In [115]:
df_merge["campo12"].value_counts(dropna=False)

campo12
NaN           1445
Adosado         19
Pareado          4
Individual       2
Name: count, dtype: int64

In [116]:
df_merge['tipologia'] = df_merge['titulo'].str.split().str[0]

In [117]:
df_merge['tipologia'].value_counts(dropna=False)

tipologia
Piso           1335
Ático            38
Apartamento      28
Estudio          22
Casa             19
Dúplex           11
Loft              7
Chalet            7
Venta             3
Name: count, dtype: int64

In [118]:


# Definir una función para concatenar solo si no hay nulos
def concatenar_si_no_nulo(row):
    if pd.notnull(row['tipologia']) and pd.notnull(row['campo12']):
        return row['tipologia'] + ' ' + row['campo12']
    else:
        return row['tipologia']  # O cualquier otro valor que desees en caso de nulos

# Aplicar la función a cada fila del DataFrame
df_merge['tipologia'] = df_merge.apply(concatenar_si_no_nulo, axis=1)

In [119]:
df_merge['tipologia'].value_counts(dropna=False)

tipologia
Piso               1335
Ático                38
Apartamento          28
Estudio              22
Casa Adosado         15
Dúplex               11
Loft                  7
Chalet Adosado        4
Venta                 3
Casa Individual       2
Casa Pareado          2
Chalet Pareado        2
Chalet                1
Name: count, dtype: int64

In [120]:
coleliminar=["imagen4","cantidad_dormitorios","número5",'officelink_url','campo12', 'url_imagen']

In [121]:
redpiso_unido= df_merge

In [122]:
# Creacion de nuevas columnas donde metere los valores de de distrito, barrios, codigos postal y el codigo por distrito y barrio.

nuevas_columnas= ["barrios","cod_barrio","cod_barrio_2","distrito","cod_distrito","codigo_Postal"]

redpiso_unido[nuevas_columnas]=np.nan

In [123]:
redpiso_unido2=redpiso_unido

#### **_Agregacion de barrios y distritos con sus codigos respectivos/ Redpiso._**

In [124]:
def normalize_string(s):
    if pd.notna(s):
        s = unicodedata.normalize('NFD', s)  # Descomponer los caracteres con acento
        s = ''.join([c for c in s if not unicodedata.combining(c)])  # Eliminar los caracteres de acento
        s = s.lower()  # Convertir a minúsculas
    return s

In [125]:
# Aqui hacemos la normalizacion de las columnas para despues hacer una mejor filtracion de nombres de distritos y barrios. 



def clasificar_distrito_y_barrio_por_columnas(df_sin_duplicados, dbcp_ordenado):
    # Crear las listas de barrios y distritos desde el dataframe de referencia
    distritos = dbcp_ordenado["nombre_distrito"].apply(lambda x: normalize_string(x)).tolist()
    barrios = dbcp_ordenado["nombre_barrio"].apply(lambda x: normalize_string(x)).tolist()

    # Recorrer las filas del dataframe
    for idx, fila in df_sin_duplicados.iterrows():
        # Recorrer las tres columnas en orden de prioridad: descripcion, descripcion_extendida, url_website
        for columna in ['titulo', 'nombre_oficina']:
            valor = fila[columna]
            
            # Verificamos que el valor no sea nulo
            if pd.notna(valor):
                valor_normalizado = normalize_string(valor)
                
                # Verificamos si el valor normalizado contiene el nombre de un distrito o barrio
                for distrito, barrio in zip(distritos, barrios):
                    if distrito in valor_normalizado and pd.isna(fila["distrito"]):
                        df_sin_duplicados.at[idx, "distrito"] = distrito  # Asignar el nombre del distrito a la columna "distrito"
                    if barrio in valor_normalizado and pd.isna(fila["barrios"]):
                        df_sin_duplicados.at[idx, "barrios"] = barrio  # Asignar el nombre del barrio a la columna "barrio"

    return df_sin_duplicados

# Llamar a la función pasándole el dataframe y el dataframe de referencia
df_sin_duplicados = clasificar_distrito_y_barrio_por_columnas(redpiso_unido2, dbcp_ordenado)

C:\Users\extas\AppData\Local\Temp\ipykernel_20344\1962636392.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'villaverde' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_sin_duplicados.at[idx, "distrito"] = distrito  # Asignar el nombre del distrito a la columna "distrito"
C:\Users\extas\AppData\Local\Temp\ipykernel_20344\1962636392.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'san cristobal' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_sin_duplicados.at[idx, "barrios"] = barrio  # Asignar el nombre del barrio a la columna "barrio"

In [ ]:
redpiso_unido2.head(5)

In [127]:
def rellenar_distritos(redpiso_unido2, dbcp_ordenado):
    # Crear un diccionario de barrios a distritos normalizado
    barrio_a_distrito = {normalize_string(barrio): distrito for barrio, distrito in zip(dbcp_ordenado["nombre_barrio"], dbcp_ordenado["nombre_distrito"])}

    for idx, fila in redpiso_unido2.iterrows():
        # Verificamos si el valor de distrito está vacío y si hay un valor en barrios
        if pd.isna(fila["distrito"]) and not pd.isna(fila["barrios"]):
            barrio_normalizado = normalize_string(fila["barrios"])  # Normalizar el valor del barrio
            distrito = barrio_a_distrito.get(barrio_normalizado)  # Buscar el distrito usando el barrio normalizado
            if distrito:
                redpiso_unido2.at[idx, "distrito"] = distrito  # Asignar el distrito correspondiente

# Llamar a la función pasándole el dataframe y el dataframe de referencia
rellenar_distritos(redpiso_unido2=redpiso_unido2, dbcp_ordenado=dbcp_ordenado)

In [128]:

diccionario_ditrito_barrio= {
    "Centro": ["Malasaña", "La Latina", "Chueca","malasana"],
    "Moratalaz": ["La Elipa"],
    "Moncloa-Aravaca": ["Puerta de Hierro", "Príncipe Pío"],
    "Fuencarral-El Pardo": ["Buena Vista", "Ventilla", "Fuencarral"],
    "Chamartín": ["Bernabéu"],
    "Ciudad Lineal": ["Arturo Soria"],
    "San Blas-Canillejas": ["Las Mercedes","las mercedes"],
    "Villaverde": ["Villaverde Alto", "Villaverde Bajo"],
    "Carabanchel": ["Pau Carabanchel"],
}


# Función para asignar barrios y distritos recorriendo solo el diccionario
def asignar_barrios_y_distritos(df, diccionario, columnas_busqueda):
    # Normalizar los barrios en el diccionario
    diccionario_normalizado = {
        normalize_string(barrio): distrito for distrito, barrios in diccionario.items() for barrio in barrios
    }
    
    # Asegurar que las columnas "barrios" y "distritos" existan en el DataFrame
    3#if "barrios" not in df.columns:
     #   df["barrios"] = pd.NA
    #if "distrito" not in df.columns:
     #   df["distrito"] = pd.NA

    # Iterar sobre el diccionario de barrios y distritos
    for barrio_normalizado, distrito in diccionario_normalizado.items():
        # Buscar coincidencias en las columnas especificadas
        for columna in columnas_busqueda:
            # Generar una máscara para las coincidencias
            mask = df[columna].str.contains(barrio_normalizado, na=False, case=False)

            # Asignar valores donde haya coincidencias y columnas vacías
            df.loc[mask & df['barrios'].isna(), 'barrios'] = barrio_normalizado
            df.loc[mask & df['distrito'].isna(), 'distrito'] = distrito

    return df

# Llamar a la función
columnas_busqueda = ["barrios", "distrito"]  # Ajusta estas columnas según tu DataFrame
redpiso_unido2 = asignar_barrios_y_distritos(redpiso_unido2, diccionario_ditrito_barrio, columnas_busqueda)

In [129]:
def asignar_codigos(df_sin_duplicados, dbcp_ordenado):
    """
    Asigna los valores de cod_distrito, cod_barrio, cod_barrio_2 y codigo_postal al DataFrame original
    basándose en la correspondencia con el DataFrame de referencia.
    """
    # Normalizar los nombres en el DataFrame de referencia
    dbcp_ordenado['nombre_distrito_normalizado'] = dbcp_ordenado['nombre_distrito'].apply(normalize_string)
    dbcp_ordenado['nombre_barrio_normalizado'] = dbcp_ordenado['nombre_barrio'].apply(normalize_string)

    # Normalizar las columnas 'distrito' y 'barrios' en el DataFrame original
    df_sin_duplicados['distrito_normalizado'] = df_sin_duplicados['distrito'].apply(normalize_string)
    df_sin_duplicados['barrios_normalizado'] = df_sin_duplicados['barrios'].apply(normalize_string)

    # Realizar asignaciones basadas en coincidencias
    for idx, fila in df_sin_duplicados.iterrows():
        # Verificar coincidencia por distrito
        if pd.notna(fila['distrito_normalizado']):
            coincidencias_distrito = dbcp_ordenado[
                dbcp_ordenado['nombre_distrito_normalizado'] == fila['distrito_normalizado']
            ]
            if not coincidencias_distrito.empty:
                df_sin_duplicados.at[idx, 'cod_distrito'] = coincidencias_distrito['cod_distrito'].iloc[0]

        # Verificar coincidencia por barrio
        if pd.notna(fila['barrios_normalizado']):
            coincidencias_barrio = dbcp_ordenado[
                dbcp_ordenado['nombre_barrio_normalizado'] == fila['barrios_normalizado']
            ]
            if not coincidencias_barrio.empty:
                df_sin_duplicados.at[idx, 'cod_barrio'] = coincidencias_barrio['cod_barrio'].iloc[0]
                df_sin_duplicados.at[idx, 'cod_barrio_2'] = coincidencias_barrio['cod_barrio_2'].iloc[0]
                df_sin_duplicados.at[idx, 'codigo_Postal'] = coincidencias_barrio['codigo_Postal'].iloc[0]

    # Eliminar columnas normalizadas después de asignaciones
    df_sin_duplicados.drop(columns=['distrito_normalizado', 'barrios_normalizado'], inplace=True)
    dbcp_ordenado.drop(columns=['nombre_distrito_normalizado', 'nombre_barrio_normalizado'], inplace=True)

    return df_sin_duplicados

# Llamar a la función con los DataFrames correspondientes
redpiso_unido2 = asignar_codigos(redpiso_unido2, dbcp_ordenado)

In [130]:
redpiso_unido2.columns

Index(['referencia', 'cantidad_visitas', 'fecha_publicacion', 'm2constr',
       'banos', 'titular_anuncio', 'descripcion_extendida', 'campo12',
       'dormitorios', 'cantidad_armarios', 'consumo_energia', 'emisiones_CO2',
       'cal_energetica', 'estado', 'antiguedad', 'ascensor',
       'aire_acondicionado', 'orientacion', 'agua_caliente', 'calefaccion',
       'Tipo de suelo_fachada', 'cocina_equipada', 'garaje', 'm2_utiles',
       'vista_zona', 'piscina', 'trastero', 'gastos_comunidad', 'Zonas_verdes',
       'terrazas', 'acceso_minusvalido', 'puerta_seguridad', 'conserje',
       'num_plantas', 'num_pisos', 'alarma', 'amueblado', 'precio',
       'url_imagen', 'reservado', 'm2_constr', 'cantidad_dormitorios', 'url',
       'titulo', 'contacto', 'officelink_url', 'nombre_oficina', '_merge',
       'tipologia', 'barrios', 'cod_barrio', 'cod_barrio_2', 'distrito',
       'cod_distrito', 'codigo_Postal'],
      dtype='object')

------------------------------------------

In [131]:
# eliminacion de columnas 

redpiso_columnas_eliminar=["url_imagen","nombre_oficina","contacto","officelink_url"]

redpiso_unido2 = redpiso_unido2.drop(columns=redpiso_columnas_eliminar)

In [132]:
redpiso_unido2.shape

(1470, 51)

In [133]:
redpiso_unido2["web"]="redpiso"
redpiso_unido2["fecha_descarga"]="28/10/2024"

In [135]:
redpiso_unido2["Tipo de suelo_fachada"].value_counts()

Tipo de suelo_fachada
Tipo de suelo Gres                  129
Tipo de suelo Parquet               112
Tipo de fachada Ladrillo             70
Tipo de suelo Tarima normal          61
Tipo de suelo Tarima Flotante        53
Tipo de suelo Baldosa                16
Tipo de suelo Sintasol               15
Tipo de suelo Terrazo                14
Tipo de suelo Otros                  12
Tipo de fachada Mono Capa            11
Tipo de fachada Cemento               8
Tipo de suelo Porcelanico             6
Tipo de suelo Mosaico Hidraulico      3
Tipo de fachada Piedra                2
Tipo de fachada Otros materiales      1
Tipo de suelo Marmol                  1
Name: count, dtype: int64

In [136]:
# Aqui vamos a filtrar la informacion de tipo_fachada y la dividire en dos columnas donde se veran los valores de fachada y suelo separados
redpiso_unido2["tipo_fachada"]= np.nan

def asignar_fachada(df):
    # Recorrer cada fila de la columna Tipo de suelo/fachada
    for idx, fila in df.iterrows():
        tipo_suelo_fachada = str(fila['Tipo de suelo_fachada'])  # Asegurarse de que sea un string
        # Convertir el texto a minúsculas para la búsqueda sin importar mayúsculas
        if 'fachada' in tipo_suelo_fachada.lower():
            # Si encuentra la palabra 'fachada', asignar todo el texto a la columna tipo_fachada
            df.at[idx, 'tipo_fachada'] = tipo_suelo_fachada
            # Reemplazar el valor original en Tipo de suelo/fachada por NaN
            df.at[idx, 'Tipo de suelo_fachada'] = np.nan
    return df

# Llamar a la función pasándole tu dataframe
redpiso_unido2 = asignar_fachada(redpiso_unido2)

C:\Users\extas\AppData\Local\Temp\ipykernel_20344\3383542287.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Tipo de fachada Ladrillo' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[idx, 'tipo_fachada'] = tipo_suelo_fachada

In [137]:
redpiso_unido2["Tipo de suelo_fachada"].value_counts()

Tipo de suelo_fachada
Tipo de suelo Gres                  129
Tipo de suelo Parquet               112
Tipo de suelo Tarima normal          61
Tipo de suelo Tarima Flotante        53
Tipo de suelo Baldosa                16
Tipo de suelo Sintasol               15
Tipo de suelo Terrazo                14
Tipo de suelo Otros                  12
Tipo de suelo Porcelanico             6
Tipo de suelo Mosaico Hidraulico      3
Tipo de suelo Marmol                  1
Name: count, dtype: int64

In [138]:
redpiso_unido2["tipo_fachada"].value_counts()

tipo_fachada
Tipo de fachada Ladrillo            70
Tipo de fachada Mono Capa           11
Tipo de fachada Cemento              8
Tipo de fachada Piedra               2
Tipo de fachada Otros materiales     1
Name: count, dtype: int64

In [158]:
# renombramiento de columna 
redpiso_unido2= redpiso_unido2.rename(columns={"Tipo de suelo_fachada":"tipo_suelo"})
redpiso_unido2= redpiso_unido2.rename(columns={"barrios":"barrio"})
redpiso_unido2= redpiso_unido2.rename(columns={"Zonas_verdes":"zonas_verdes"})
redpiso_unido2= redpiso_unido2.rename(columns={"codigo_Postal":"codigo_postal"})

In [159]:
redpiso_unido2.columns

Index(['referencia', 'cantidad_visitas', 'fecha_publicacion', 'banos',
       'titular_anuncio', 'descripcion_extendida', 'campo12', 'dormitorios',
       'cantidad_armarios', 'consumo_energia', 'emisiones_CO2',
       'cal_energetica', 'estado', 'antiguedad', 'ascensor',
       'aire_acondicionado', 'orientacion', 'agua_caliente', 'calefaccion',
       'tipo_suelo', 'cocina_equipada', 'garaje', 'm2_utiles', 'vista_zona',
       'piscina', 'trastero', 'gastos_comunidad', 'zonas_verdes', 'terrazas',
       'acceso_minusvalido', 'puerta_seguridad', 'conserje', 'num_plantas',
       'num_pisos', 'alarma', 'amueblado', 'precio', 'url_imagen', 'reservado',
       'm2_constr', 'cantidad_dormitorios', 'url', 'titulo', 'nombre_oficina',
       'tipologia', 'barrio', 'cod_barrio', 'cod_barrio_2', 'distrito',
       'cod_distrito', 'codigo_postal'],
      dtype='object')

In [160]:
columnas_a_eliminar = ["_merge","officelink_url","contacto","m2constr"]

redpiso_unido2= redpiso_unido2.drop(columns=columnas_a_eliminar)

KeyError: "['_merge', 'officelink_url', 'contacto', 'm2constr'] not found in axis"

In [161]:
redpiso_unido2.to_csv("red_pisoparaunir.csv",index=False)

In [150]:
redpiso_unido2[['url']].value_counts(dropna=False)

url
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-pinzon-vista-alegre-carabanchel-madrid-madrid-RP302023121517                 4
https://www.redpiso.es/inmueble/apartamento-en-venta-en-calle-alberto-aguilera-gaztambide-chamberi-madrid-madrid-RP1782024122328    1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-portalegre-opanel-carabanchel-madrid-madrid-RP2412024124127                  1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-principe-de-vergara-hispanoamerica-chamartin-madrid-madrid-RP902023109627    1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-principe-de-vergara-hispanoamerica-chamartin-madrid-madrid-RP902022102747    1
                                                                                                                                   ..
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-colomer-guindalera-salamanca-madrid-madrid-RP792024123939                    1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-colombia-hispanoamerica-chamartin-madrid-madrid-RP902024126238               1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-colombia-hispanoamerica-chamartin-madrid-madrid-RP902023116964               1
https://www.redpiso.es/inmueble/piso-en-venta-en-calle-colombia-hispanoamerica-chamartin-madrid-madrid-RP902023115323               1
https://www.redpiso.es/inmueble/piso-en-venta-en-vista-alegre-carabanchel-madrid-madrid-RP2892024131383                             1
Name: count, Length: 1467, dtype: int64

In [ ]:
url_especifica = 'https://www.redpiso.es/inmueble/piso-en-venta-en-hispanoamerica-chamartin-madrid-madrid-RP902024129170'
df17.loc[df17['url'].str.contains(url_especifica), ['m2_constr', 'planta']] = [155, 1]
df17.loc[df17['url'].str.contains('https://www.redpiso.es/inmueble/en-venta-en-calle-la-alegria-de-la-huerta-los-angeles-villaverde-madrid-madrid-RP332024131222'), ['m2_constr','tiene_piscina','nuda_propiedad']] = [90,0,1]
df17.loc[df17['url'].str.contains('https://www.redpiso.es/inmueble/piso-en-venta-en-madrid-madrid-RP352023120094'), ['m2_constr','tiene_piscina','terraza','trastero']] = [75,0,1,1]

In [ ]:
dfredpiso['web']='redpiso'
dfredpiso['fecha_descarga']='31/10/2024'
# Llamar a la función pasándole tu dataframe
dfredpiso= asignar_fachada(dfredpiso)
#renombrar titulo a title en redpiso
dfredpiso.rename(columns={'titulo': 'title', 'conserje':'porteria','antiguedad':'ano_construccion','emisiones_CO2':'emisiones_co2'}, inplace=True)
dfredpiso["zona"] = dfredpiso["nombre_oficina"].str.replace("^REDPISO", "", regex=True)
dfunion.rename(columns={'read_all': 'descripcion_extendida'}, inplace=True)
dfi.rename(columns={'read_all': 'descripcion_extendida','acceso_minusv':'acceso_minusvalido'}, inplace=True)
celiminar=['url_imagen','dormitorios']
dfredpiso.drop(columns=celiminar,inplace=True)
dfredpiso.rename(columns={'cantidad_dormitorios': 'dormitorios'}, inplace=True)
celiminar=['title2','ciudad']
dfi.drop(columns=celiminar,inplace=True)

celiminar=['Unnamed: 0']
dfpm.drop(columns=celiminar,inplace=True)


#coleliminar=['salon']
#dfunion.drop(dolumns=celiminar,inplace=True)
dfi['certificado_energetico'] = dfi['letrace'].apply(lambda x: 'Disponible' if pd.notna(x) and x != '' else 'No indicado')
#en la columna antiguedad de redpiso_pisosmadrid2 quitar el texto año Ano de construccion del valor
dfredpiso['ano_construccion']=dfredpiso['ano_construccion'].str.replace('Ano de construccion','')
dfredpiso['ano_construccion']=dfredpiso['ano_construccion'].str.replace('Antiguedad','')
# dfredpiso["plantas"]=dfredpiso['plantas'].str.replace('Plantas','')
# Crear la nueva columna 'exterior' y asignar el valor 1 cuando 'vista zona' sea 'Exterior'
# dfredpiso=dfredpiso.drop("plantas",axis=1)

#dfredpiso['exterior'] = dfredpiso['vista_zona'].apply(lambda x: 1 if x == 'Exterior' else np.nan)
# redpiso_pisosmadrid2=redpiso_pisosmadrid2.drop("vista zona",axis=1)

In [143]:
redpiso_unido2.to_csv("red_pisoparaunir.csv",index=False)