![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# CAPSTONE PROJECT: Predicción de precios de las viviendas en Madrid
Limpieza de datos: Pisos.com

Meta de creación de columnas:
- `fecha_descarga`-
- `web`-
- `url`-
- `precio`-
- `barrio`-
- `distrito`-
- `codigo_postal`
- `metros_utiles`
- `metros_construidos`-
- `num_hab`-
- `num_banos`-
- `planta`-
- `tipologia`-
- `obra_nueva`
- `cocina`
- `garage`
- `trastero`
- `orientacion`
- `estado`-
- `antiguedad`
- `consumo`
- `fecha_publicacion`
- `subasta`
- `visitas`
- `amueblado`
- `calefaccion`
- `terraza`
- `balcon`
- `piscina`
- `jardin`
- `aire_acondionado`
- `detalle`

Cuatro datasets recibidos
- data_sales_19102024.xlsx
- data_salesagosto2024.xlsx
- Detalles_datasales19102024.xlsx
- Detalles2_datasales19102024.xlsx

In [156]:
import pandas as pd
import numpy as np
import re

## DATA FRAMES GENERALES

### TRANSFORMAR COLUMNAS Y MERGE

In [157]:
#df_pisos_10 = pd.read_excel('/Users/AleVC/Library/CloudStorage/GoogleDrive-ale.vaquero.c@gmail.com/My Drive/Nuclio/Máster en Data Science/TFM/PisosCom/data_sales_19102024.xlsx')
#df_pisos_10.head(2)

In [229]:
#Silvia, modifico la ruta para acceder al archivo de datos
df_pisos_10=pd.read_excel('./03-pisos-com/data_sales_19102024.xlsx')
df_pisos_10.head(2)

,title,zone,municipality,price,bedrooms,bathrooms,size,floor,priceByArea,tipology,state,url
0,Apartamento en venta en Paseo de las Acacias,Acacias (Distrito Arganzuela. Madrid Capital),madrid,245.000 €,2 habs.,1 baño,42 m²,3ª planta,5.833 €/m²,NaN,En buen estado,https://www.pisos.com/comprar/apartamento-acacias28005-47581419946_100500/
1,Apartamento en venta en Calle de Carlos y Guillermo Fernández Shaw,Adelfas (Distrito Retiro. Madrid Capital),madrid,767.500 €,3 habs.,2 baños,110 m²,NaN,6.977 €/m²,NaN,NaN,https://www.pisos.com/comprar/apartamento-adelfas28007-45835099732_101800/

In [231]:
df_pisos_10['size'].value_counts(dropna=False)

size
160 m²      136
110 m²       93
65 m²        89
53 m²        76
123 m²       75
           ...
754 m²        1
775 m²        1
700 m²        1
1.525 m²      1
490 m²        1
Name: count, Length: 431, dtype: int64

In [159]:
df_pisos_08=pd.read_excel('./03-pisos-com/data_salesagosto2024.xlsx')

df_pisos_08.head(2)

,title,zone,municipality,price,bedrooms,bathrooms,size,floor,priceByArea,tipology,state,url
0,Apartamento en venta en Calle de Valdelasierra,Acacias (Distrito Arganzuela. Madrid Capital),madrid,255.000 €,1 hab.,1 baño,71 m²,NaN,3.591 €/m²,NaN,En buen estado,https://www.pisos.com/comprar/apartamento-acacias28005-46704102553_993362/
1,"Apartamento en venta en Paseo de Santa María de la Cabeza, cerca de Paseo de las Delicias",Acacias (Distrito Arganzuela. Madrid Capital),madrid,397.000 €,1 hab.,1 baño,73 m²,3ª planta,5.438 €/m²,NaN,En buen estado,https://www.pisos.com/comprar/apartamento-acacias28045-45078322021_993362/

In [160]:
#df_pisos_08 = pd.read_excel('/Users/AleVC/Library/CloudStorage/GoogleDrive-ale.vaquero.c@gmail.com/My Drive/Nuclio/Máster en Data Science/TFM/PisosCom/data_salesagosto2024.xlsx')
#df_pisos_08.head(2)

In [161]:
df_pisos_10.shape
# 3715, 12

(3715, 12)

In [162]:
df_pisos_10_dupl = df_pisos_10.duplicated().sum()
df_pisos_10_dupl
# 735 filas duplicadas

735

In [163]:
df_pisos_10 = df_pisos_10.drop_duplicates()
df_pisos_10.shape
# 2980, 12

(2980, 12)

In [164]:
df_pisos_08.shape
# 4233, 12

(4233, 12)

In [165]:
df_pisos_08_dupl = df_pisos_08.duplicated().sum()
df_pisos_08_dupl
# 1264 filas duplicadas

1264

In [166]:
df_pisos_08 = df_pisos_08.drop_duplicates()
df_pisos_08.shape
# 2969, 12

(2969, 12)

In [167]:
df_pisos_10['fecha_descarga'] = pd.to_datetime('2024-10-19')
df_pisos_10.head(1)

,title,zone,municipality,price,bedrooms,bathrooms,size,floor,priceByArea,tipology,state,url,fecha_descarga
0,Apartamento en venta en Paseo de las Acacias,Acacias (Distrito Arganzuela. Madrid Capital),madrid,245.000 €,2 habs.,1 baño,42 m²,3ª planta,5.833 €/m²,NaN,En buen estado,https://www.pisos.com/comprar/apartamento-acacias28005-47581419946_100500/,2024-10-19

In [168]:
df_pisos_10.shape
# (2980, 13)

(2980, 13)

In [169]:
df_pisos_08['fecha_descarga'] = pd.to_datetime('2024-08-19')
df_pisos_08.head(1)

,title,zone,municipality,price,bedrooms,bathrooms,size,floor,priceByArea,tipology,state,url,fecha_descarga
0,Apartamento en venta en Calle de Valdelasierra,Acacias (Distrito Arganzuela. Madrid Capital),madrid,255.000 €,1 hab.,1 baño,71 m²,NaN,3.591 €/m²,NaN,En buen estado,https://www.pisos.com/comprar/apartamento-acacias28005-46704102553_993362/,2024-08-19

In [170]:
df_pisos_08.shape
# (2969, 13)

(2969, 13)

In [171]:
df_pisos = df_pisos_10.merge(df_pisos_08, how='outer')
df_pisos.head(2)

,title,zone,municipality,price,bedrooms,bathrooms,size,floor,priceByArea,tipology,state,url,fecha_descarga
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),madrid,250.000 €,1 hab.,1 baño,39 m²,5ª planta,6.410 €/m²,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19
1,Apartamento en venta en Apóstol Santiago,Apóstol Santiago (Distrito Hortaleza. Madrid Capital),madrid,420.000 €,2 habs.,1 baño,73 m²,NaN,5.753 €/m²,NaN,NaN,https://www.pisos.com/comprar/apartamento-apostol_santiago-41696859245_101800/,2024-10-19

In [172]:
df_pisos.tail(2)

,title,zone,municipality,price,bedrooms,bathrooms,size,floor,priceByArea,tipology,state,url,fecha_descarga
5947,Ático en venta en los Berrocales,Los Berrocales (Distrito Vicálvaro. Madrid Capital),madrid,498.000 €,3 habs.,2 baños,157 m²,NaN,3.171 €/m²,NaN,A estrenar,https://www.pisos.com/comprar/atico-los_berrocales28031-4666816647_109700/,2024-08-19
5948,Ático en venta en los Berrocales,Los Berrocales (Distrito Vicálvaro. Madrid Capital),madrid,498.000 €,3 habs.,2 baños,157 m²,NaN,3.171 €/m²,NaN,A estrenar,https://www.pisos.com/comprar/atico-los_berrocales28031-4666816647_109700/,2024-10-19

In [173]:
df_pisos.shape
# (5949, 13)

(5949, 13)

In [174]:
df_pisos['municipality'].value_counts()

municipality
madrid    5949
Name: count, dtype: int64

In [175]:
# Eliminar la columna 'municipality' ya que solo indica Madrid que es la ubicación de todo el estudio.
df_pisos = df_pisos.drop(['municipality'], axis=1)

In [176]:
# Renombrar columnas
df_pisos = df_pisos.rename(columns={'zone': 'barrio', 'price': 'precio', 'bedrooms': 'num_hab', 'bathrooms': 'num_banos', 'size': 'metros_construidos', 'priceByArea': 'precio_por_area', 'tipology': 'tipologia' , 'floor': 'planta', 'state': 'estado'})
df_pisos.columns
# ['title', 'barrio', 'precio', 'num_hab', 'num_banos', 'metros_construidos', 'planta', 'precio_por_area', 'tipologia', 'estado', 'url', 'fecha_descarga']

Index(['title', 'barrio', 'precio', 'num_hab', 'num_banos',
       'metros_construidos', 'planta', 'precio_por_area', 'tipologia',
       'estado', 'url', 'fecha_descarga'],
      dtype='object')

In [177]:
df_pisos.head(1)

,title,barrio,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250.000 €,1 hab.,1 baño,39 m²,5ª planta,6.410 €/m²,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19

In [178]:
df_pisos['web'] = 'pisos.com'
df_pisos.columns

Index(['title', 'barrio', 'precio', 'num_hab', 'num_banos',
       'metros_construidos', 'planta', 'precio_por_area', 'tipologia',
       'estado', 'url', 'fecha_descarga', 'web'],
      dtype='object')

In [179]:
df_pisos.head(1)

,title,barrio,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250.000 €,1 hab.,1 baño,39 m²,5ª planta,6.410 €/m²,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com

In [180]:
df_pisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               5949 non-null   object
 1   barrio              5949 non-null   object
 2   precio              5949 non-null   object
 3   num_hab             5719 non-null   object
 4   num_banos           5609 non-null   object
 5   metros_construidos  5930 non-null   object
 6   planta              3368 non-null   object
 7   precio_por_area     5925 non-null   object
 8   tipologia           89 non-null     object
 9   estado              3642 non-null   object
 10  url                 5949 non-null   object
 11  fecha_descarga      5949 non-null   datetime64[ns]
 12  web                 5949 non-null   object
dtypes: datetime64[ns](1), object(12)
memory usage: 604.3+ KB

In [181]:
hab_count = df_pisos['num_hab'].value_counts(ascending=True)
hab_count

num_hab
14 habs.       1
17 habs.       2
15 habs.       3
12 habs.       5
10 habs.       6
11 habs.       8
9 habs.       14
8 habs.       29
7 habs.       68
6 habs.      128
5 habs.      318
1 hab.       647
4 habs.      848
2 habs.     1677
3 habs.     1965
Name: count, dtype: int64

In [182]:
banos_count = df_pisos['num_banos'].value_counts(ascending=True)
banos_count

num_banos
16 baños       1
13 baños       2
12 baños       3
11 baños       5
10 baños       7
9 baños        7
8 baños       14
7 baños       39
6 baños      103
5 baños      252
4 baños      458
3 baños      918
1 baño      1888
2 baños     1912
Name: count, dtype: int64

In [183]:
planta_count = df_pisos['planta'].value_counts(ascending=True)
planta_count

planta
20ª planta            1
16ª planta            2
14ª planta            3
12ª planta            3
Más de 20 planta      4
15ª planta            4
11ª planta            8
13ª planta            9
10ª planta           12
9ª planta            37
8ª planta            52
7ª planta           114
5ª planta           259
6ª planta           260
4ª planta           439
3ª planta           599
2ª planta           681
1ª planta           881
Name: count, dtype: int64

### DATOS NUMÉRICOS INT: TRANSFORMAR Y RELLENAR NULOS

In [184]:
df_pisos['num_hab'] = df_pisos['num_hab'].str.replace(r'\D', '', regex=True)
# df_pisos['num_hab'] = df_pisos['num_hab'].fillna(-1)
# df_pisos['num_hab'] = pd.to_numeric(df_pisos['num_hab'], errors='coerce').astype('int64')
df_pisos['num_banos'] = df_pisos['num_banos'].str.replace(r'\D', '', regex=True)
# df_pisos['num_banos'] = df_pisos['num_banos'].fillna(-1)
# df_pisos['num_banos'] = pd.to_numeric(df_pisos['num_banos'], errors='coerce').astype('int64')
df_pisos['planta'] = df_pisos['planta'].str.replace(r'\D', '', regex=True)
# df_pisos['planta'] = df_pisos['planta'].fillna(-1)
# df_pisos['planta'] = pd.to_numeric(df_pisos['planta'], errors='coerce').astype('int64')
df_pisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               5949 non-null   object
 1   barrio              5949 non-null   object
 2   precio              5949 non-null   object
 3   num_hab             5719 non-null   object
 4   num_banos           5609 non-null   object
 5   metros_construidos  5930 non-null   object
 6   planta              3368 non-null   object
 7   precio_por_area     5925 non-null   object
 8   tipologia           89 non-null     object
 9   estado              3642 non-null   object
 10  url                 5949 non-null   object
 11  fecha_descarga      5949 non-null   datetime64[ns]
 12  web                 5949 non-null   object
dtypes: datetime64[ns](1), object(12)
memory usage: 604.3+ KB

In [185]:
# hab_count2 = df_pisos['num_hab'].value_counts(ascending=True)
# hab_count2

In [186]:
# banos_count2 = df_pisos['num_banos'].value_counts(ascending=True)
# banos_count2

In [187]:
# planta_count2 = df_pisos['planta'].value_counts(ascending=True)
# planta_count2

### DATOS CATEGÓRICOS: TRANSFORMAR Y RELLENAR NULOS

In [188]:
df_pisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               5949 non-null   object
 1   barrio              5949 non-null   object
 2   precio              5949 non-null   object
 3   num_hab             5719 non-null   object
 4   num_banos           5609 non-null   object
 5   metros_construidos  5930 non-null   object
 6   planta              3368 non-null   object
 7   precio_por_area     5925 non-null   object
 8   tipologia           89 non-null     object
 9   estado              3642 non-null   object
 10  url                 5949 non-null   object
 11  fecha_descarga      5949 non-null   datetime64[ns]
 12  web                 5949 non-null   object
dtypes: datetime64[ns](1), object(12)
memory usage: 604.3+ KB

In [189]:
tipologia_count = df_pisos['tipologia'].value_counts(ascending=True)
tipologia_count

tipologia
Unifamiliar     8
Pareada        19
Adosada        62
Name: count, dtype: int64

In [190]:
estado_count = df_pisos['estado'].value_counts(ascending=True)
estado_count

estado
A reformar         431
Reformado          533
A estrenar         621
En buen estado    2057
Name: count, dtype: int64

In [191]:
origen_count = df_pisos['web'].value_counts(ascending=True)
origen_count

web
pisos.com    5949
Name: count, dtype: int64

In [192]:
# df_pisos['tipologia'] = df_pisos['tipologia'].fillna('desconocido').astype('category')
# df_pisos['estado'] = df_pisos['estado'].fillna('desconocido').astype('category')
# df_pisos['ref_origen'] = df_pisos['ref_origen'].astype('category')
# df_pisos.info()

### DATOS NUMÉRICOS FLOAT: RELLENAR NULOS Y TRANSFORMAR

In [193]:
precio_decimales = df_pisos[df_pisos['precio'].str.contains(',', na=False)]
precio_decimales
# Se ha comprobado que ningún 'precio' contiene decimales.

Empty DataFrame
Columns: [title, barrio, precio, num_hab, num_banos, metros_construidos, planta, precio_por_area, tipologia, estado, url, fecha_descarga, web]
Index: []

In [194]:
metros_decimales = df_pisos[df_pisos['metros_construidos'].str.contains(',', na=False)]
metros_decimales
# Se ha comprobado que ningún 'metros_construidos' contiene decimales.

Empty DataFrame
Columns: [title, barrio, precio, num_hab, num_banos, metros_construidos, planta, precio_por_area, tipologia, estado, url, fecha_descarga, web]
Index: []

In [195]:
area_decimales = df_pisos[df_pisos['precio_por_area'].str.contains(',', na=False)]
area_decimales
# Se ha comprobado que ningún 'precio_por_area' contiene decimales.

Empty DataFrame
Columns: [title, barrio, precio, num_hab, num_banos, metros_construidos, planta, precio_por_area, tipologia, estado, url, fecha_descarga, web]
Index: []

In [196]:
#compruebo los valores de metros construidos
df_pisos['metros_construidos'].describe()

count      5930
unique      474
top       70 m²
freq        100
Name: metros_construidos, dtype: object

In [197]:
df_pisos['precio'] = df_pisos['precio'].str.replace(r'\D', '', regex=True)
df_pisos['metros_construidos'] = df_pisos['metros_construidos'].str.replace(r'\D', '', regex=True)
df_pisos['precio_por_area'] = df_pisos['precio_por_area'].str.replace(r'\D', '', regex=True)
df_pisos.head(1)

,title,barrio,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com

In [198]:
df_pisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               5949 non-null   object
 1   barrio              5949 non-null   object
 2   precio              5949 non-null   object
 3   num_hab             5719 non-null   object
 4   num_banos           5609 non-null   object
 5   metros_construidos  5930 non-null   object
 6   planta              3368 non-null   object
 7   precio_por_area     5925 non-null   object
 8   tipologia           89 non-null     object
 9   estado              3642 non-null   object
 10  url                 5949 non-null   object
 11  fecha_descarga      5949 non-null   datetime64[ns]
 12  web                 5949 non-null   object
dtypes: datetime64[ns](1), object(12)
memory usage: 604.3+ KB

In [199]:
# df_pisos['precio'] = pd.to_numeric(df_pisos['precio'], errors='coerce')
# df_pisos['precio'] = df_pisos['precio'].astype('float64').fillna(-1)
# df_pisos['metros_construidos'] = pd.to_numeric(df_pisos['metros_construidos'], errors='coerce')
# df_pisos['metros_construidos'] = df_pisos['metros_construidos'].astype('float64').fillna(-1)
# df_pisos['precio_por_area'] = pd.to_numeric(df_pisos['precio_por_area'], errors='coerce')
# df_pisos['precio_por_area'] = df_pisos['precio_por_area'].astype('float64').fillna(-1)
# df_pisos.info()

### BARRIOS Y DISTRITOS

In [200]:
df_pisos.head(2)

,title,barrio,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com
1,Apartamento en venta en Apóstol Santiago,Apóstol Santiago (Distrito Hortaleza. Madrid Capital),420000,2,1,73,NaN,5753,NaN,NaN,https://www.pisos.com/comprar/apartamento-apostol_santiago-41696859245_101800/,2024-10-19,pisos.com

In [201]:
df_pisos = df_pisos.rename(columns={'barrio': 'ubicacion'})
df_pisos.head(2)

,title,ubicacion,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com
1,Apartamento en venta en Apóstol Santiago,Apóstol Santiago (Distrito Hortaleza. Madrid Capital),420000,2,1,73,NaN,5753,NaN,NaN,https://www.pisos.com/comprar/apartamento-apostol_santiago-41696859245_101800/,2024-10-19,pisos.com

In [202]:
df_pisos = df_pisos.reset_index(drop=True)

In [203]:
df_barrios = pd.read_csv('./distritos-y-barrios-limpio.csv')

In [204]:
#df_barrios = pd.read_csv('/Users/AleVC/Library/CloudStorage/GoogleDrive-ale.vaquero.c@gmail.com/My Drive/Nuclio/Máster en Data Science/TFM/Datos-adicionales/Datos-limpios/distritos-y-barrios-limpio.csv')
df_barrios.head(2)

   cod_distrito distrito  cod_barrio       barrio
0             1   Centro          11      Palacio
1             1   Centro          12  Embajadores

In [205]:
distritos_unicos = df_barrios['distrito'].unique()
distritos_unicos

array(['Centro', 'Arganzuela', 'Retiro', 'Salamanca', 'Chamartín',
       'Tetuán', 'Chamberí', 'Fuencarral - El Pardo', 'Moncloa - Aravaca',
       'Latina', 'Carabanchel', 'Usera', 'Puente de Vallecas',
       'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Villaverde',
       'Villa de Vallecas', 'Vicálvaro', 'San Blas - Canillejas',
       'Barajas'], dtype=object)

In [206]:
barrios_unicos = df_barrios['barrio'].unique()
barrios_unicos

array(['Palacio', 'Embajadores', 'Cortes', 'Justicia', 'Universidad',
       'Sol', 'Imperial', 'Acacias', 'Chopera', 'Legazpi', 'Delicias',
       'Palos de la Frontera', 'Atocha', 'Pacífico', 'Adelfas',
       'Estrella', 'Ibiza', 'Los Jerónimos', 'Niño Jesús', 'Recoletos',
       'Goya', 'Fuente del Berro', 'Guindalera', 'Lista', 'Castellana',
       'El Viso', 'Prosperidad', 'Ciudad Jardín', 'Hispanoamérica',
       'Nueva España', 'Castilla', 'Bellas Vistas', 'Cuatro Caminos',
       'Castillejos', 'Almenara', 'Valdeacederas', 'Berruguete',
       'Gaztambide', 'Arapiles', 'Trafalgar', 'Almagro', 'Ríos Rosas',
       'Vallehermoso', 'El Pardo', 'Fuentelarreina', 'Peñagrande',
       'Pilar', 'La Paz', 'Valverde', 'Mirasierra', 'El Goloso',
       'Casa de Campo', 'Argüelles', 'Ciudad Universitaria', 'Valdezarza',
       'Valdemarín', 'El Plantío', 'Aravaca', 'Los Cármenes',
       'Puerta del Ángel', 'Lucero', 'Aluche', 'Campamento',
       'Cuatro Vientos', 'Águilas', 'Comillas', 'Opañel', 'San Isidro',
       'Vista Alegre', 'Puerta Bonita', 'Buenavista', 'Abrantes',
       'Orcasitas', 'Orcasur', 'San Fermín', 'Almendrales', 'Moscardó',
       'Zofío', 'Pradolongo', 'Entrevías', 'San Diego', 'Palomeras Bajas',
       'Palomeras Sureste', 'Portazgo', 'Numancia', 'Pavones', 'Horcajo',
       'Marroquina', 'Media Legua', 'Fontarrón', 'Vinateros', 'Ventas',
       'Pueblo Nuevo', 'Quintana', 'La Concepción', 'San Pascual',
       'San Juan Bautista', 'Colina', 'Atalaya', 'Costillares', 'Palomas',
       'Piovera', 'Canillas', 'Pinar del Rey', 'Apóstol Santiago',
       'Valdefuentes', 'Villaverde Alto - Casco Histórico de Villaverde',
       'San Cristóbal', 'Butarque', 'Los Rosales', 'Ángeles',
       'Casco Histórico de Vallecas', 'Santa Eugenia',
       'Ensanche de Vallecas', 'Casco histórico de Vicálvaro',
       'Valdebernardo', 'Valderrivas', 'El Cañaveral', 'Simancas',
       'Hellín', 'Amposta', 'Arcos', 'Rosas', 'Rejas', 'Canillejas',
       'El Salvador', 'Alameda de Osuna', 'Aeropuerto',
       'Casco Histórico de Barajas', 'Timón', 'Corralejos'], dtype=object)

In [207]:
# Función para identificar el distrito
def extraer_distrito(ubicacion, distritos_unicos):
    for distrito in distritos_unicos:
        if distrito in ubicacion:
            return distrito
    return np.nan  # Si no se encuentra un distrito

# Aplicar la función a la columna 'ubicacion' y crear la nueva columna 'distrito'
df_pisos['distrito'] = df_pisos['ubicacion'].apply(lambda x: extraer_distrito(x, distritos_unicos))
df_pisos.head(2)

,title,ubicacion,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web,distrito
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com,Centro
1,Apartamento en venta en Apóstol Santiago,Apóstol Santiago (Distrito Hortaleza. Madrid Capital),420000,2,1,73,NaN,5753,NaN,NaN,https://www.pisos.com/comprar/apartamento-apostol_santiago-41696859245_101800/,2024-10-19,pisos.com,Hortaleza

In [208]:
# Función para identificar el barrio
def extraer_barrio(ubicacion, barrios_unicos):
    for barrio in barrios_unicos:
        if barrio in ubicacion:
            return barrio
    return np.nan  # Si no se encuentra un barrio

# Aplicar la función a la columna 'ubicacion' y crear la nueva columna 'barrio'
df_pisos['barrio'] = df_pisos['ubicacion'].apply(lambda x: extraer_barrio(x, barrios_unicos))
df_pisos.head(2)

,title,ubicacion,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web,distrito,barrio
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com,Centro,Palacio
1,Apartamento en venta en Apóstol Santiago,Apóstol Santiago (Distrito Hortaleza. Madrid Capital),420000,2,1,73,NaN,5753,NaN,NaN,https://www.pisos.com/comprar/apartamento-apostol_santiago-41696859245_101800/,2024-10-19,pisos.com,Hortaleza,Apóstol Santiago

In [209]:
df_pisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               5949 non-null   object
 1   ubicacion           5949 non-null   object
 2   precio              5949 non-null   object
 3   num_hab             5719 non-null   object
 4   num_banos           5609 non-null   object
 5   metros_construidos  5930 non-null   object
 6   planta              3368 non-null   object
 7   precio_por_area     5925 non-null   object
 8   tipologia           89 non-null     object
 9   estado              3642 non-null   object
 10  url                 5949 non-null   object
 11  fecha_descarga      5949 non-null   datetime64[ns]
 12  web                 5949 non-null   object
 13  distrito            5281 non-null   object
 14  barrio              5672 non-null   object
dtypes: datetime64[ns](1), object(14)
memory usage: 697.3+ KB

In [210]:
distrito_count = df_pisos['distrito'].value_counts(ascending=True)
distrito_count

distrito
Moratalaz               46
Usera                   76
Barajas                 83
Vicálvaro               93
Villa de Vallecas       98
Villaverde             108
Arganzuela             133
Hortaleza              157
Latina                 177
Ciudad Lineal          230
Puente de Vallecas     241
Retiro                 267
Carabanchel            282
Tetuán                 333
Chamberí               380
Chamartín              458
Salamanca              992
Centro                1127
Name: count, dtype: int64

In [211]:
barrio_count = df_pisos['barrio'].value_counts(ascending=True)
barrio_count

barrio
Valdebernardo      2
Orcasur            3
Valderrivas        3
Vinateros          4
Pavones            4
                ...
Palacio          210
Castellana       247
El Pardo         257
Goya             293
Universidad      302
Name: count, Length: 116, dtype: int64

In [212]:
# df_pisos['distrito'] = df_pisos['distrito'].fillna('desconocido').astype('category')
# df_pisos['barrio'] = df_pisos['barrio'].fillna('desconocido').astype('category')
# df_pisos.info()

In [213]:
# Ajustar pandas para mostrar contenido completo
pd.set_option('display.max_colwidth', None)
df_pisos.head()

,title,ubicacion,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web,distrito,barrio
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com,Centro,Palacio
1,Apartamento en venta en Apóstol Santiago,Apóstol Santiago (Distrito Hortaleza. Madrid Capital),420000,2,1,73,NaN,5753,NaN,NaN,https://www.pisos.com/comprar/apartamento-apostol_santiago-41696859245_101800/,2024-10-19,pisos.com,Hortaleza,Apóstol Santiago
2,Apartamento en venta en Argüelles,Argüelles (Distrito Moncloa-Aravaca. Madrid Capital),3990000,8,4,372,NaN,10725,NaN,NaN,https://www.pisos.com/comprar/apartamento-moncloa_aravaca_arguelles28008-48334738432_101800/,2024-10-19,pisos.com,NaN,Argüelles
3,Apartamento en venta en Argüelles,Argüelles (Distrito Moncloa-Aravaca. Madrid Capital),515000,2,1,75,NaN,6866,NaN,NaN,https://www.pisos.com/comprar/apartamento-moncloa_aravaca_arguelles28008-48429886093_101800/,2024-10-19,pisos.com,NaN,Argüelles
4,Apartamento en venta en Atalaya,Atalaya (Distrito Ciudad Lineal. Madrid Capital),1220000,5,3,331,NaN,3685,NaN,NaN,https://www.pisos.com/comprar/apartamento-ciudad_lineal_atalaya-43413667133_101800/,2024-10-19,pisos.com,Ciudad Lineal,Atalaya

In [214]:
df_pisos.shape
# (5949, 15)

(5949, 15)

In [215]:
#df_barrios = pd.read_csv('/Users/AleVC/Library/CloudStorage/GoogleDrive-ale.vaquero.c@gmail.com/My Drive/Nuclio/Máster en Data Science/TFM/Datos-adicionales/Datos-limpios/distritos-y-barrios-limpio.csv')
#df_barrios.head()

In [216]:
df_pisos_com = pd.merge(df_pisos, df_barrios, on=['barrio', 'distrito'], how='left')
df_pisos_com.shape
# (5949, 17)

(5949, 17)

In [217]:
df_pisos_com.head(1)

,title,ubicacion,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web,distrito,barrio,cod_distrito,cod_barrio
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com,Centro,Palacio,1.0,11.0

## COLUMNAS DE DF PISOS

### ASIGNAR COLUMNAS NUEVAS PARA EL FUTURO MERGE CON DF DETALLES

In [218]:
# df_pisos_com['detalle'] = 'vacio'
# df_pisos_com['consumo_energia'] = 'vacio'
# df_pisos_com['referencia'] = 'vacio'
# df_pisos_com['fecha_publicacion'] = 0
# df_pisos_com['conservacion'] = 'vacio'
# df_pisos_com['m2_utiles'] = 0
# df_pisos_com['ano_construccion'] = 'vacio'
# df_pisos_com['€_comunidad_mes'] = 'vacio'
# df_pisos_com['interior_exterior'] = 'vacio'
# df_pisos_com['orientacion'] = 'vacio'
# df_pisos_com['jardin'] = 'vacio'
# df_pisos_com['aire_acondicionado'] = 'vacio'
# df_pisos_com['calefaccion'] = 'vacio'
# df_pisos_com['cocina'] = 'vacio'
# df_pisos_com['tipo_suelo'] = 'vacio'
# df_pisos_com['piscina'] = 'vacio'
# df_pisos_com['armarios'] = 'vacio'
# df_pisos_com['garaje'] = 'vacio'
# df_pisos_com['terraza'] = 'vacio'
# df_pisos_com['trastero'] = 'vacio'
# df_pisos_com['ascensor'] = 'vacio'
# df_pisos_com['balcon'] = 'vacio'
# df_pisos_com.info()

In [219]:
# df_pisos_com['fecha_publicacion'] = pd.to_datetime(df_pisos_com['fecha_publicacion'], errors='coerce')
# df_pisos_com.info()

In [220]:
df_pisos_com['title_tipologia'] = df_pisos_com['title'].str.split().str[0]
df_pisos_com.head(2)

,title,ubicacion,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,tipologia,estado,url,fecha_descarga,web,distrito,barrio,cod_distrito,cod_barrio,title_tipologia
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com,Centro,Palacio,1.0,11.0,Apartamento
1,Apartamento en venta en Apóstol Santiago,Apóstol Santiago (Distrito Hortaleza. Madrid Capital),420000,2,1,73,NaN,5753,NaN,NaN,https://www.pisos.com/comprar/apartamento-apostol_santiago-41696859245_101800/,2024-10-19,pisos.com,Hortaleza,Apóstol Santiago,16.0,165.0,Apartamento

In [221]:
count_title_tipologia = df_pisos_com['title_tipologia'].value_counts(ascending=True)
count_title_tipologia

title_tipologia
Finca             5
Loft             22
Estudio          97
Casa            114
Dúplex          142
Apartamento     152
Chalet          261
Ático           289
Piso           4867
Name: count, dtype: int64

In [222]:
df_pisos_com = df_pisos_com.drop(['tipologia'], axis=1)
df_pisos_com = df_pisos_com.rename(columns={'title_tipologia': 'tipologia'})
df_pisos_com.head(1)

,title,ubicacion,precio,num_hab,num_banos,metros_construidos,planta,precio_por_area,estado,url,fecha_descarga,web,distrito,barrio,cod_distrito,cod_barrio,tipologia
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000,1,1,39,5,6410,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com,Centro,Palacio,1.0,11.0,Apartamento

In [223]:
df_pisos_com.rename(columns={'num_hab': 'habitaciones', 'num_banos': 'banos', 'metros_construidos': 'm2_constr', 'precio_por_area': 'EUR/m2'}, inplace=True)
df_pisos_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           5949 non-null   object
 1   ubicacion       5949 non-null   object
 2   precio          5949 non-null   object
 3   habitaciones    5719 non-null   object
 4   banos           5609 non-null   object
 5   m2_constr       5930 non-null   object
 6   planta          3368 non-null   object
 7   EUR/m2          5925 non-null   object
 8   estado          3642 non-null   object
 9   url             5949 non-null   object
 10  fecha_descarga  5949 non-null   datetime64[ns]
 11  web             5949 non-null   object
 12  distrito        5281 non-null   object
 13  barrio          5672 non-null   object
 14  cod_distrito    5018 non-null   float64
 15  cod_barrio      5018 non-null   float64
 16  tipologia       5949 non-null   object
dtypes: datetime64[ns](1), float64(2), object(14)
memory usage: 790.2+ KB

In [224]:
url_duplicadas = df_pisos_com['url'].duplicated().sum()
url_duplicadas
# 1213

1213

In [225]:
df_pisos_com = df_pisos_com.drop_duplicates(subset=['url'])
df_pisos_com.shape
# (4736, 17)

(4736, 17)

In [226]:
df_pisos_com.columns

Index(['title', 'ubicacion', 'precio', 'habitaciones', 'banos', 'm2_constr',
       'planta', 'EUR/m2', 'estado', 'url', 'fecha_descarga', 'web',
       'distrito', 'barrio', 'cod_distrito', 'cod_barrio', 'tipologia'],
      dtype='object')

In [228]:
df_pisos_com['m2_constr'].value_counts(dropna=False)

m2_constr
70     82
60     67
80     67
90     65
120    61
       ..
352     1
575     1
750     1
365     1
518     1
Name: count, Length: 474, dtype: int64

In [232]:
df_pisos_com.to_csv('pisoscom_limpio.csv', index=False)