# LIMPIEZA DE DATOS ADICIONALES PARA TFM

# LIBRERÍAS

In [1]:
import pandas as pd
import numpy as np

# BARRIOS Y DISTRITOS

In [2]:
# Cargar excel Códigos_Distritos_y_Barrios_Madrid.xlsx
df_barrios = pd.read_excel('/Users/AleVC/Library/CloudStorage/GoogleDrive-ale.vaquero.c@gmail.com/My Drive/Nuclio/Máster en Data Science/TFM/Datos-adicionales/Códigos_Distritos_y_Barrios_Madrid.xlsx')
df_barrios.head()

,CODDIS,NOMDIS,COD_BAR,NOMBRE,COD_DIS_TX,BARRIO_MAY,COD_DISBAR,NUM_BAR,BARRIO_MT,COD_DISB
0,17,Villaverde,172,San Cristóbal,17,SAN CRISTOBAL,172,2,SAN CRISTÓBAL,17-2
1,17,Villaverde,173,Butarque,17,BUTARQUE,173,3,BUTARQUE,17-3
2,17,Villaverde,175,Ángeles,17,ANGELES,175,5,ÁNGELES,17-5
3,17,Villaverde,174,Los Rosales,17,LOS ROSALES,174,4,LOS ROSALES,17-4
4,17,Villaverde,171,Villaverde Alto - Casco Histórico de Villaverde,17,VILLAVERDE ALTO - CASCO HISTORICO DE VILLAVERDE,171,1,VILLAVERDE ALTO - CASCO HISTÓRICO DE VILLAVERDE,17-1

In [3]:
df_barrios.shape
# (131, 10)

(131, 10)

In [4]:
df_barrios.columns

Index(['CODDIS', 'NOMDIS', 'COD_BAR', 'NOMBRE', 'COD_DIS_TX', 'BARRIO_MAY',
       'COD_DISBAR', 'NUM_BAR', 'BARRIO_MT', 'COD_DISB'],
      dtype='object')

In [5]:
df_barrios = df_barrios.drop(['COD_DIS_TX', 'BARRIO_MAY',
       'COD_DISBAR', 'NUM_BAR', 'BARRIO_MT', 'COD_DISB'], axis=1)

In [6]:
df_barrios.head()

,CODDIS,NOMDIS,COD_BAR,NOMBRE
0,17,Villaverde,172,San Cristóbal
1,17,Villaverde,173,Butarque
2,17,Villaverde,175,Ángeles
3,17,Villaverde,174,Los Rosales
4,17,Villaverde,171,Villaverde Alto - Casco Histórico de Villaverde

In [7]:
df_barrios.shape
# (131, 4)

(131, 4)

In [8]:
df_barrios = df_barrios.rename(columns={'CODDIS': 'cod_distrito', 'NOMDIS': 'distrito', 'COD_BAR': 'cod_barrio', 'NOMBRE': 'barrio'})
df_barrios.head()

,cod_distrito,distrito,cod_barrio,barrio
0,17,Villaverde,172,San Cristóbal
1,17,Villaverde,173,Butarque
2,17,Villaverde,175,Ángeles
3,17,Villaverde,174,Los Rosales
4,17,Villaverde,171,Villaverde Alto - Casco Histórico de Villaverde

In [9]:
df_barrios = df_barrios.sort_values(by='cod_barrio')
df_barrios = df_barrios.reset_index(drop=True)
df_barrios

     cod_distrito distrito  cod_barrio                      barrio
0               1   Centro          11                     Palacio
1               1   Centro          12                 Embajadores
2               1   Centro          13                      Cortes
3               1   Centro          14                    Justicia
4               1   Centro          15                 Universidad
..            ...      ...         ...                         ...
126            21  Barajas         211            Alameda de Osuna
127            21  Barajas         212                  Aeropuerto
128            21  Barajas         213  Casco Histórico de Barajas
129            21  Barajas         214                       Timón
130            21  Barajas         215                  Corralejos

[131 rows x 4 columns]

In [10]:
df_barrios.to_csv('distritos-y-barrios-limpio.csv', index=False)

In [11]:
df_barrios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cod_distrito  131 non-null    int64
 1   distrito      131 non-null    object
 2   cod_barrio    131 non-null    int64
 3   barrio        131 non-null    object
dtypes: int64(2), object(2)
memory usage: 4.2+ KB

In [12]:
df_barrios.columns

Index(['cod_distrito', 'distrito', 'cod_barrio', 'barrio'], dtype='object')

### COLUMNAS DEL DF DE BARRIOS Y DISTRITOS
- `cod_distrito`: int64
- `distrito`: object
- `cod_barrio`: int64
- `barrio` : object