# PISOS.COM MERGE CON DF DE DETALLES

## LIBRERÍAS

In [1]:
import pandas as pd
import numpy as np
import re

# Ajustar pandas para mostrar contenido completo
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

## PREPARAR DATA FRAMES

In [2]:
df_detalles = pd.read_csv('pisoscom_detalles_limpio.csv')
df_detalles.head(1)

,title,ubicacion,precio,habitaciones,banos,m2_constr,planta,EUR/m2,url,fecha_descarga,web,detalle,consumo_energia,referencia,fecha_publicacion,conservacion,m2_utiles,ano_construccion,€_comunidad_mes,interior_exterior,orientacion,jardin,aire_acondicionado,calefaccion,cocina,tipo_suelo,piscina,armarios,garaje,terraza,trastero,ascensor,balcon
0,"Chalet en venta en Calle del Pico Milano, s/n",Mirasierra-Arroyo del Fresno (Distrito Fuencarral-El Pardo. Madrid Capital) / Mirasierra-Arroyo del Fresno (Distrito Fuencarral-El Pardo. Madrid Capital),2950000.0,NaN,7.0,8.0,561.0,5258.0,https://www.pisos.com/comprar/chalet-mirasierra_arroyo_del_fresno28034-3860362029_109700/,2024-10-19,pisos.com,"Parcela 2, Tipo B. Chalet de obra nueva de 561 m2 de superficie construida y situado en la zona de Madrid Capital. Está estructurado en 7 habitaciones, 8 baños completos y terraza. El Chalet tiene piscina. Aporta como extras garaje y trastero.",En trámite,Ref.: -0,2024-10-24,A estrenar,NaN,NaN,NaN,NaN,NaN,Privado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Terraza,Trastero,NaN,NaN

In [3]:
df_detalles.shape
# (3028, 33)

(2867, 33)

In [4]:
df_pisos = pd.read_csv('pisoscom_limpio.csv')
df_pisos.head(1)

,title,ubicacion,precio,habitaciones,banos,m2_constr,planta,EUR/m2,estado,url,fecha_descarga,web,distrito,barrio,cod_distrito,cod_barrio,tipologia
0,Apartamento en venta en A Tan Solo Metros del Teatro de La Latina,Palacio (Distrito Centro. Madrid Capital),250000.0,1.0,1.0,39.0,5.0,6410.0,NaN,https://www.pisos.com/comprar/apartamento-centro_palacio28005-47597559176_109100/,2024-10-19,pisos.com,Centro,Palacio,1.0,11.0,Apartamento

In [5]:
df_pisos.shape
# (4736, 17)

(4736, 17)

In [6]:
df_pisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4736 entries, 0 to 4735
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           4736 non-null   object
 1   ubicacion       4736 non-null   object
 2   precio          4731 non-null   float64
 3   habitaciones    4546 non-null   float64
 4   banos           4471 non-null   float64
 5   m2_constr       4723 non-null   float64
 6   planta          2739 non-null   float64
 7   EUR/m2          4719 non-null   float64
 8   estado          2934 non-null   object
 9   url             4736 non-null   object
 10  fecha_descarga  4736 non-null   object
 11  web             4736 non-null   object
 12  distrito        4202 non-null   object
 13  barrio          4514 non-null   object
 14  cod_distrito    3992 non-null   float64
 15  cod_barrio      3992 non-null   float64
 16  tipologia       4736 non-null   object
dtypes: float64(8), object(9)
memory usage: 629.1+ KB

In [7]:
# df_pisos['fecha_publicacion'] = df_pisos['fecha_publicacion'].astype('object')
# df_pisos['m2_utiles'] = df_pisos['m2_utiles'].astype('float')
# df_pisos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4736 entries, 0 to 4735
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               4736 non-null   object
 1   ubicacion           4736 non-null   object
 2   precio              4731 non-null   float64
 3   habitaciones        4546 non-null   float64
 4   banos               4471 non-null   float64
 5   m2_constr           4723 non-null   float64
 6   planta              2739 non-null   float64
 7   EUR/m2              4719 non-null   float64
 8   estado              2934 non-null   object
 9   url                 4736 non-null   object
 10  fecha_descarga      4736 non-null   object
 11  web                 4736 non-null   object
 12  distrito            4202 non-null   object
 13  barrio              4514 non-null   object
 14  cod_distrito        3992 non-null   float64
 15  cod_barrio          3992 non-null   float64
 16  detalle             4736 non-null   object
 17  consumo_energia     4736 non-null   object
 18  referencia          4736 non-null   object
 19  fecha_publicacion   4736 non-null   object
 20  conservacion        4736 non-null   object
 21  m2_utiles           4736 non-null   float64
 22  ano_construccion    4736 non-null   object
 23  €_comunidad_mes     4736 non-null   object
 24  interior_exterior   4736 non-null   object
 25  orientacion         4736 non-null   object
 26  jardin              4736 non-null   object
 27  aire_acondicionado  4736 non-null   object
 28  calefaccion         4736 non-null   object
 29  cocina              4736 non-null   object
 30  tipo_suelo          4736 non-null   object
 31  piscina             4736 non-null   object
 32  armarios            4736 non-null   object
 33  garaje              4736 non-null   object
 34  terraza             4736 non-null   object
 35  trastero            4736 non-null   object
 36  ascensor            4736 non-null   object
 37  balcon              4736 non-null   object
 38  tipologia           4736 non-null   object
dtypes: float64(9), object(30)
memory usage: 1.4+ MB

In [7]:
df_detalles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2867 entries, 0 to 2866
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               2616 non-null   object
 1   ubicacion           2867 non-null   object
 2   precio              2865 non-null   float64
 3   habitaciones        2659 non-null   float64
 4   banos               2792 non-null   float64
 5   m2_constr           2779 non-null   float64
 6   planta              2538 non-null   float64
 7   EUR/m2              1755 non-null   float64
 8   url                 2866 non-null   object
 9   fecha_descarga      2867 non-null   object
 10  web                 2867 non-null   object
 11  detalle             2866 non-null   object
 12  consumo_energia     2805 non-null   object
 13  referencia          2867 non-null   object
 14  fecha_publicacion   2805 non-null   object
 15  conservacion        1710 non-null   object
 16  m2_utiles           1153 non-null   float64
 17  ano_construccion    1426 non-null   object
 18  €_comunidad_mes     808 non-null    object
 19  interior_exterior   621 non-null    object
 20  orientacion         1158 non-null   object
 21  jardin              204 non-null    object
 22  aire_acondicionado  942 non-null    object
 23  calefaccion         1437 non-null   object
 24  cocina              634 non-null    object
 25  tipo_suelo          827 non-null    object
 26  piscina             217 non-null    object
 27  armarios            1140 non-null   object
 28  garaje              536 non-null    object
 29  terraza             1208 non-null   object
 30  trastero            715 non-null    object
 31  ascensor            1916 non-null   object
 32  balcon              327 non-null    object
dtypes: float64(7), object(26)
memory usage: 739.3+ KB

In [8]:
df_pisos.columns

Index(['title', 'ubicacion', 'precio', 'habitaciones', 'banos', 'm2_constr',
       'planta', 'EUR/m2', 'estado', 'url', 'fecha_descarga', 'web',
       'distrito', 'barrio', 'cod_distrito', 'cod_barrio', 'tipologia'],
      dtype='object')

In [9]:
df_detalles.columns

Index(['title', 'ubicacion', 'precio', 'habitaciones', 'banos', 'm2_constr',
       'planta', 'EUR/m2', 'url', 'fecha_descarga', 'web', 'detalle',
       'consumo_energia', 'referencia', 'fecha_publicacion', 'conservacion',
       'm2_utiles', 'ano_construccion', '€_comunidad_mes', 'interior_exterior',
       'orientacion', 'jardin', 'aire_acondicionado', 'calefaccion', 'cocina',
       'tipo_suelo', 'piscina', 'armarios', 'garaje', 'terraza', 'trastero',
       'ascensor', 'balcon'],
      dtype='object')

In [29]:
# urls_distintas = set(df_pisos['url']).difference(set(df_detalles['url']))
# len(urls_distintas)
# 1870

In [30]:
# unmatched = df_pisos[~df_pisos['url'].isin(df_detalles['url'])]
# unmatched.shape
# (1870, 17)

## MERGE

In [ ]:
# Hacer merge priorizando columnas de df_detalles preservando columnas únicas de ambas
df_pisoscom = pd.merge(
    df_pisos, 
    df_detalles, 
    on='url', 
    how='outer', 
    suffixes=('_pisos', '_detalles')
)

# Resolver posibles solapamientos de columnas dando prioridad a los valores de df_detalles
for column in df_detalles.columns:
    if column in df_pisos.columns and column != 'url':  # Avoid overwriting 'url'
        df_pisoscom[column] = df_pisoscom[f"{column}_detalles"].combine_first(df_pisoscom[f"{column}_pisos"])
        df_pisoscom.drop([f"{column}_pisos", f"{column}_detalles"], axis=1, inplace=True)

df_pisoscom.head(1)

,estado,url,distrito,barrio,cod_distrito,cod_barrio,tipologia,detalle,consumo_energia,referencia,fecha_publicacion,conservacion,m2_utiles,ano_construccion,€_comunidad_mes,interior_exterior,orientacion,jardin,aire_acondicionado,calefaccion,cocina,tipo_suelo,piscina,armarios,garaje,terraza,trastero,ascensor,balcon,title,ubicacion,precio,habitaciones,banos,m2_constr,planta,EUR/m2,fecha_descarga,web
0,En buen estado,https://www.pisos.com/comprar/apartamento-acacias28005-46704102553_993362/,Arganzuela,Acacias,2.0,22.0,Apartamento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apartamento en venta en Calle de Valdelasierra,Acacias (Distrito Arganzuela. Madrid Capital),255000.0,1.0,1.0,71.0,NaN,3591.0,2024-08-19,pisos.com

In [32]:
df_pisoscom.shape
# (4737, 39)

(4737, 39)

In [33]:
df_pisoscom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4737 entries, 0 to 4736
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   estado              2934 non-null   object
 1   url                 4736 non-null   object
 2   distrito            4202 non-null   object
 3   barrio              4514 non-null   object
 4   cod_distrito        3992 non-null   float64
 5   cod_barrio          3992 non-null   float64
 6   tipologia           4736 non-null   object
 7   detalle             2866 non-null   object
 8   consumo_energia     2805 non-null   object
 9   referencia          2867 non-null   object
 10  fecha_publicacion   2805 non-null   object
 11  conservacion        1710 non-null   object
 12  m2_utiles           1153 non-null   float64
 13  ano_construccion    1426 non-null   object
 14  €_comunidad_mes     808 non-null    object
 15  interior_exterior   621 non-null    object
 16  orientacion         1158 non-null   object
 17  jardin              204 non-null    object
 18  aire_acondicionado  942 non-null    object
 19  calefaccion         1437 non-null   object
 20  cocina              634 non-null    object
 21  tipo_suelo          827 non-null    object
 22  piscina             217 non-null    object
 23  armarios            1140 non-null   object
 24  garaje              536 non-null    object
 25  terraza             1208 non-null   object
 26  trastero            715 non-null    object
 27  ascensor            1916 non-null   object
 28  balcon              327 non-null    object
 29  title               4736 non-null   object
 30  ubicacion           4737 non-null   object
 31  precio              4731 non-null   float64
 32  habitaciones        4633 non-null   float64
 33  banos               4585 non-null   float64
 34  m2_constr           4729 non-null   float64
 35  planta              3690 non-null   float64
 36  EUR/m2              4720 non-null   float64
 37  fecha_descarga      4737 non-null   object
 38  web                 4737 non-null   object
dtypes: float64(9), object(30)
memory usage: 1.4+ MB

In [36]:
df_random = df_pisoscom.sample(n=1, random_state=2)
df_random

,estado,url,distrito,barrio,cod_distrito,cod_barrio,tipologia,detalle,consumo_energia,referencia,fecha_publicacion,conservacion,m2_utiles,ano_construccion,€_comunidad_mes,interior_exterior,orientacion,jardin,aire_acondicionado,calefaccion,cocina,tipo_suelo,piscina,armarios,garaje,terraza,trastero,ascensor,balcon,title,ubicacion,precio,habitaciones,banos,m2_constr,planta,EUR/m2,fecha_descarga,web
4433,A estrenar,https://www.pisos.com/comprar/piso-universidad_malasana28004-47595548929_108900/,Centro,Universidad,1.0,15.0,Piso,"Espectacular Vivienda Totalmente Reformada en Calle Malasaña\n\nEn Inmobiliaria Don Chamberí nos complace presentar esta espectacular vivienda totalmente reformada, lista para estrenar y entrar a vivir. Ubicada en la representativa Calle de Manuela Malasaña, 14 en la zona centro de la ciudad, esta propiedad se caracteriza por estar en un área con mucha historia y riqueza cultural. La ubicación ofrece una combinación única de encanto tradicional y modernidad cosmopolita.\n\nUbicación\n\nSituada en una de las zonas más emblemáticas de la ciudad, esta vivienda ofrece una oferta cultural inigualable. Entre la estación de metro Bilbao y San Bernardo.\nAdemás, la zona cuenta con una amplia variedad de tiendas, restaurantes y locales de entretenimiento, garantizando una vida vibrante y llena de opciones.\n\nEl inmueble se encuentra en un edificio de fachada clásica, equipado con ascensor, que ha sido totalmente reformado por el prestigioso equipo de Diseño & Interiorismo ARCTEMPUS.\n\nCaracterísticas de la Vivienda\n\n\nDistribución Inteligente y Elegante:\n\n\nCocina: Totalmente equipada e independiente.\nSalón: De gran tamaño, con acabados de madera realizados a medida.\nDormitorios: 3 amplios dormitorios.\nBaños: 3 modernos baños.\n\n\n\n\nBeneficios\n\nEsta propiedad es una oportunidad única, ya que fusiona tamaño, diseño y la mejor ubicación. Ideal para quienes buscan un hogar espacioso y con un toque de elegancia y modernidad en el corazón de la ciudad.\n\nNo deje pasar esta oportunidad de vivir en una vivienda exclusiva y reformada con los más altos estándares de calidad. ¡Contáctenos para más información y para programar una visita!",En trámite,Ref.: XA785-510536,2024-09-05,A estrenar,81.0,NaN,NaN,NaN,Sur,NaN,Frío-calor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ascensor,NaN,Piso en venta en Calle de Manuela Malasaña,Universidad-Malasaña (Distrito Centro. Madrid Capital) / Universidad-Malasaña (Distrito Centro. Madrid Capital),1039000.0,3.0,3.0,103.0,10087.0,10087.0,2024-10-19,pisos.com

In [38]:
count_hab = df_pisoscom['habitaciones'].value_counts().sort_values(ascending=False)  
count_hab

habitaciones
3.0      1586
2.0      1382
4.0       645
1.0       564
5.0       232
6.0        90
7.0        52
8.0        21
9.0         8
11.0        4
69.0        3
37.0        3
12.0        3
10.0        3
49.0        3
59.0        3
40.0        3
168.0       2
15.0        2
41.0        2
413.0       1
250.0       1
75.0        1
20.0        1
500.0       1
24.0        1
36.0        1
17.0        1
14.0        1
51.0        1
167.0       1
62.0        1
42.0        1
38.0        1
46.0        1
94.0        1
102.0       1
180.0       1
30.0        1
70.0        1
112.0       1
64.0        1
Name: count, dtype: int64

In [39]:
count_banos = df_pisoscom['banos'].value_counts().sort_values(ascending=False)  
count_banos

banos
1.0      1557
2.0      1496
3.0       745
4.0       367
5.0       168
         ...
190.0       1
93.0        1
32.0        1
88.0        1
231.0       1
Name: count, Length: 114, dtype: int64

In [40]:
count_planta = df_pisoscom['planta'].value_counts().sort_values(ascending=False)  
count_planta

planta
1.0       696
2.0       527
3.0       466
4.0       349
5.0       208
         ...
104.0       1
134.0       1
75.0        1
3229.0      1
8270.0      1
Name: count, Length: 917, dtype: int64

In [41]:
count_tipologia = df_pisoscom['tipologia'].value_counts().sort_values(ascending=False)  
count_tipologia

tipologia
Piso           3919
Ático           226
Chalet          169
Apartamento     129
Dúplex          108
Casa             89
Estudio          74
Loft             18
Finca             4
Name: count, dtype: int64

In [42]:
count_estado = df_pisoscom['estado'].value_counts().sort_values(ascending=False)  
count_estado

estado
En buen estado    1704
A estrenar         479
Reformado          402
A reformar         349
Name: count, dtype: int64

In [44]:
count_consumo = df_pisoscom['consumo_energia'].value_counts().sort_values(ascending=False)  
count_consumo

consumo_energia
En trámite                1493
Disponible                 596
Pendiente de completar     526
No indicado                186
Exento                       4
Name: count, dtype: int64

In [45]:
count_conservacion = df_pisoscom['conservacion'].value_counts().sort_values(ascending=False)  
count_conservacion

conservacion
En buen estado    951
A estrenar        324
Reformado         245
A reformar        190
Name: count, dtype: int64

In [46]:
count_antiguedad = df_pisoscom['ano_construccion'].value_counts().sort_values(ascending=False)  
count_antiguedad

ano_construccion
Más de 50 años        1019
Entre 30 y 50 años     205
Entre 20 y 30 años      92
Entre 10 y 20 años      65
Menos de 5 años         34
Entre 5 y 10 años       11
Name: count, dtype: int64

In [48]:
count_comunidad = df_pisoscom['€_comunidad_mes'].value_counts().sort_values(ascending=False)  
count_comunidad

€_comunidad_mes
Más de 100 €                              351
Entre 40 y 60 €                           100
Entre 80 y 100 €                           95
Entre 60 y 80 €                            80
Entre 20 y 40 €                            41
                                         ...
75€                                         1
350  € aparte calefacción                   1
165€ limpieza, pisicina, gimnasio.....      1
1.000                                       1
No tiene                                    1
Name: count, Length: 135, dtype: int64

In [49]:
count_interior_exterior = df_pisoscom['interior_exterior'].value_counts().sort_values(ascending=False)  
count_interior_exterior

interior_exterior
Exterior    547
Interior     74
Name: count, dtype: int64

In [50]:
count_orientacion = df_pisoscom['orientacion'].value_counts().sort_values(ascending=False)  
count_orientacion

orientacion
Sur                                313
Este                               263
Oeste                              148
Norte                              131
Sureste                            105
Suroeste                            58
Noreste                             52
Noroeste                            51
Medio día                           10
-1                                   9
Nordeste                             2
A la montaña                         2
Este y oeste                         1
Varias                               1
Sur, este y norte                    1
Este, noreste y suroeste             1
Sur en la terraza y dormitorios      1
Sur, oeste                           1
Oeste y este                         1
Norte y este                         1
Este-oeste                           1
Este, oeste y norte                  1
Sudeste                              1
Este|oeste                           1
Sur/norte                            1
Vistas al palacio de parcent.        1
Name: count, dtype: int64

In [51]:
count_jardin = df_pisoscom['jardin'].value_counts().sort_values(ascending=False)  
count_jardin

jardin
Comunitario    114
Privado         90
Name: count, dtype: int64

In [52]:
count_aire_acond = df_pisoscom['aire_acondicionado'].value_counts().sort_values(ascending=False)  
count_aire_acond

aire_acondicionado
Frío                                                  475
Frío y calor                                          320
Splites repartidos                                     70
Independiente                                          26
Suelo refrigerante                                     10
Frío-calor                                              7
Aerotermia                                              5
Preinstalado                                            5
Central                                                 5
Con bomba de calor                                      4
Suelo radiante refrescante                              2
Por conductos en toda la casa                           1
A/a f/c                                                 1
Preinstalación                                          1
Climatizacion por conductos frio y calor                1
Sistema air zone                                        1
Individual                                              1
Frió/calor por conductos                                1
Suelo radiante                                          1
Tiene la instalción hecha en toda la casa por cond      1
Geotermia y aerotermia                                  1
En toda la casa, por conductos                          1
Aire frio/ calor por conductos/suelo refrescante        1
No disponible                                           1
Name: count, dtype: int64

In [53]:
count_calefaccion = df_pisoscom['calefaccion'].value_counts().sort_values(ascending=False)  
count_calefaccion

calefaccion
Central                                               701
Gas natural                                           520
Eléctrica                                             113
Individual                                             22
Individual - gas natural                               18
Suelo radiante                                         11
Gasoil                                                  9
Aerotermia                                              7
Bomba frio calor                                        3
Termo electrico                                         3
Comunitario                                             3
Climatización                                           2
Calefaccion comunitaria                                 2
Calefaccion individual                                  2
Gas particular                                          2
Gas natural y biomasa                                   1
Individual con gas natural                              1
G/n                                                     1
Por climatizacion                                       1
Suelo radiante agua                                     1
Centralizada                                            1
Agua caliente y calefacción central con contador i      1
Geotermia y aerotermia                                  1
Contadores individuales                                 1
Bomba de calor                                          1
Conducto                                                1
Bomba frio-calor                                        1
Calefacción central individualizada                     1
Chimenea                                                1
Comunitaria                                             1
Central individualizada                                 1
Bomba frio/calor                                        1
Climatizaciòn                                           1
Climatizacion                                           1
Name: count, dtype: int64

In [54]:
count_cocina = df_pisoscom['cocina'].value_counts().sort_values(ascending=False)  
count_cocina

cocina
Cocina amueblada                       190
Independiente                          131
Cocina americana                        59
Americana                               59
Amueblada                               39
                                      ...
Equipafda americana                      1
Qmueblada y equipada                     1
Totalmente equipada.                     1
Y equipada                               1
Independiente - amueblada con elec.      1
Name: count, Length: 84, dtype: int64

In [55]:
count_suelo = df_pisoscom['tipo_suelo'].value_counts().sort_values(ascending=False)  
count_suelo

tipo_suelo
Parquet                              287
Tarima flotante                      253
Tarima maciza                        113
Gres                                  97
Mármol                                28
Terrazo                                7
Parket                                 6
Tarima                                 5
Moqueta                                4
Madera                                 4
Tarima normal                          3
Porcelanico                            2
Radiante-refrescante                   2
Suelo radiante                         1
Suelo tecnico                          1
Grés porcelánico                       1
Tarima - porcelánico                   1
Marmol  y tarima                       1
Baldosa                                1
Gres porcelanico imitacion madera      1
Gres y tarima flotante                 1
Porcelanato                            1
Otros                                  1
Otro                                   1
Cerámico                               1
Cemento pulido                         1
Cerámica                               1
Pino melis                             1
Ceramica                               1
Name: count, dtype: int64

In [56]:
count_piscina = df_pisoscom['piscina'].value_counts().sort_values(ascending=False)  
count_piscina

piscina
Comunitaria                                  139
Propia                                        76
Con salorium                                   1
1 piscina de adultos y 1 piscina de niños      1
Name: count, dtype: int64

In [57]:
count_armarios = df_pisoscom['armarios'].value_counts().sort_values(ascending=False)  
count_armarios

armarios
1                        810
Más de 2                 254
2                         71
3 empotrados               1
Mas de 5                   1
1 closet                   1
4 empotrados               1
8 armarios empotrados      1
Name: count, dtype: int64

In [58]:
count_garaje = df_pisoscom['garaje'].value_counts().sort_values(ascending=False)  
count_garaje

garaje
1                   418
2                    96
Más de 2             21
Privado 1 plazas      1
Name: count, dtype: int64

In [59]:
count_Terraza = df_pisoscom['terraza'].value_counts().sort_values(ascending=False)  
count_Terraza

terraza
Terraza    1208
Name: count, dtype: int64

In [60]:
count_Trastero = df_pisoscom['trastero'].value_counts().sort_values(ascending=False)  
count_Trastero

trastero
Trastero    715
Name: count, dtype: int64

In [61]:
count_Ascensor = df_pisoscom['ascensor'].value_counts().sort_values(ascending=False)  
count_Ascensor

ascensor
Ascensor    1916
Name: count, dtype: int64

In [63]:
count_Balcón = df_pisoscom['balcon'].value_counts().sort_values(ascending=False)  
count_Balcón

balcon
Balcón    327
Name: count, dtype: int64

In [64]:
df_pisoscom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4737 entries, 0 to 4736
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   estado              2934 non-null   object
 1   url                 4736 non-null   object
 2   distrito            4202 non-null   object
 3   barrio              4514 non-null   object
 4   cod_distrito        3992 non-null   float64
 5   cod_barrio          3992 non-null   float64
 6   tipologia           4736 non-null   object
 7   detalle             2866 non-null   object
 8   consumo_energia     2805 non-null   object
 9   referencia          2867 non-null   object
 10  fecha_publicacion   2805 non-null   object
 11  conservacion        1710 non-null   object
 12  m2_utiles           1153 non-null   float64
 13  ano_construccion    1426 non-null   object
 14  €_comunidad_mes     808 non-null    object
 15  interior_exterior   621 non-null    object
 16  orientacion         1158 non-null   object
 17  jardin              204 non-null    object
 18  aire_acondicionado  942 non-null    object
 19  calefaccion         1437 non-null   object
 20  cocina              634 non-null    object
 21  tipo_suelo          827 non-null    object
 22  piscina             217 non-null    object
 23  armarios            1140 non-null   object
 24  garaje              536 non-null    object
 25  terraza             1208 non-null   object
 26  trastero            715 non-null    object
 27  ascensor            1916 non-null   object
 28  balcon              327 non-null    object
 29  title               4736 non-null   object
 30  ubicacion           4737 non-null   object
 31  precio              4731 non-null   float64
 32  habitaciones        4633 non-null   float64
 33  banos               4585 non-null   float64
 34  m2_constr           4729 non-null   float64
 35  planta              3690 non-null   float64
 36  EUR/m2              4720 non-null   float64
 37  fecha_descarga      4737 non-null   object
 38  web                 4737 non-null   object
dtypes: float64(9), object(30)
memory usage: 1.4+ MB

In [65]:
# Convertir la columna 'ascensor' en valores booleanos
df_pisoscom['ascensor'] = df_pisoscom['ascensor'].apply(lambda x: 1 if x == 'Ascensor' else 0)
df_pisoscom['balcon'] = df_pisoscom['balcon'].apply(lambda x: 1 if x == 'Balcón' else 0)
df_pisoscom['terraza'] = df_pisoscom['terraza'].apply(lambda x: 1 if x == 'Terraza' else 0)
df_pisoscom['trastero'] = df_pisoscom['trastero'].apply(lambda x: 1 if x == 'Trastero' else 0)
df_pisoscom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4737 entries, 0 to 4736
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   estado              2934 non-null   object
 1   url                 4736 non-null   object
 2   distrito            4202 non-null   object
 3   barrio              4514 non-null   object
 4   cod_distrito        3992 non-null   float64
 5   cod_barrio          3992 non-null   float64
 6   tipologia           4736 non-null   object
 7   detalle             2866 non-null   object
 8   consumo_energia     2805 non-null   object
 9   referencia          2867 non-null   object
 10  fecha_publicacion   2805 non-null   object
 11  conservacion        1710 non-null   object
 12  m2_utiles           1153 non-null   float64
 13  ano_construccion    1426 non-null   object
 14  €_comunidad_mes     808 non-null    object
 15  interior_exterior   621 non-null    object
 16  orientacion         1158 non-null   object
 17  jardin              204 non-null    object
 18  aire_acondicionado  942 non-null    object
 19  calefaccion         1437 non-null   object
 20  cocina              634 non-null    object
 21  tipo_suelo          827 non-null    object
 22  piscina             217 non-null    object
 23  armarios            1140 non-null   object
 24  garaje              536 non-null    object
 25  terraza             4737 non-null   int64
 26  trastero            4737 non-null   int64
 27  ascensor            4737 non-null   int64
 28  balcon              4737 non-null   int64
 29  title               4736 non-null   object
 30  ubicacion           4737 non-null   object
 31  precio              4731 non-null   float64
 32  habitaciones        4633 non-null   float64
 33  banos               4585 non-null   float64
 34  m2_constr           4729 non-null   float64
 35  planta              3690 non-null   float64
 36  EUR/m2              4720 non-null   float64
 37  fecha_descarga      4737 non-null   object
 38  web                 4737 non-null   object
dtypes: float64(9), int64(4), object(26)
memory usage: 1.4+ MB

In [69]:
df_pisoscom['garaje'] = df_pisoscom['garaje'].replace({'Más de 2': 3, 'Privado 1 plazas': 1})
count_garaje = df_pisoscom['garaje'].value_counts().sort_values(ascending=False)  
count_garaje

garaje
1.0    419
2.0     96
3.0     21
Name: count, dtype: int64

In [ ]:
# Crear la columna 'interior'
df_pisoscom['interior'] = df_pisoscom['interior_exterior'].apply(lambda x: 1 if x == 'Interior' else 0)

# Crear la columna 'exterior'
df_pisoscom['exterior'] = df_pisoscom['interior_exterior'].apply(lambda x: 1 if x == 'Exterior' else 0)

# Eliminar la columna 'interior_exterior'
df_pisoscom = df_pisoscom.drop('interior_exterior', axis=1)

In [74]:
# Fusionar las columnas 'estado' y 'conservacion', dando prioridad a 'estado'
df_pisoscom['estado'] = df_pisoscom['estado'].combine_first(df_pisoscom['conservacion'])

# Eliminar la columna 'conservacion'
df_pisoscom = df_pisoscom.drop('conservacion', axis=1)

df_pisoscom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4737 entries, 0 to 4736
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   estado              2935 non-null   object
 1   url                 4736 non-null   object
 2   distrito            4202 non-null   object
 3   barrio              4514 non-null   object
 4   cod_distrito        3992 non-null   float64
 5   cod_barrio          3992 non-null   float64
 6   tipologia           4736 non-null   object
 7   detalle             2866 non-null   object
 8   consumo_energia     2805 non-null   object
 9   referencia          2867 non-null   object
 10  fecha_publicacion   2805 non-null   object
 11  m2_utiles           1153 non-null   float64
 12  ano_construccion    1426 non-null   object
 13  €_comunidad_mes     808 non-null    object
 14  orientacion         1158 non-null   object
 15  jardin              204 non-null    object
 16  aire_acondicionado  942 non-null    object
 17  calefaccion         1437 non-null   object
 18  cocina              634 non-null    object
 19  tipo_suelo          827 non-null    object
 20  piscina             217 non-null    object
 21  armarios            1140 non-null   object
 22  garaje              536 non-null    float64
 23  terraza             4737 non-null   int64
 24  trastero            4737 non-null   int64
 25  ascensor            4737 non-null   int64
 26  balcon              4737 non-null   int64
 27  title               4736 non-null   object
 28  ubicacion           4737 non-null   object
 29  precio              4731 non-null   float64
 30  habitaciones        4633 non-null   float64
 31  banos               4585 non-null   float64
 32  m2_constr           4729 non-null   float64
 33  planta              3690 non-null   float64
 34  EUR/m2              4720 non-null   float64
 35  fecha_descarga      4737 non-null   object
 36  web                 4737 non-null   object
 37  interior            4737 non-null   int64
 38  exterior            4737 non-null   int64
dtypes: float64(10), int64(6), object(23)
memory usage: 1.4+ MB

In [75]:
count_estado = df_pisoscom['estado'].value_counts().sort_values(ascending=False)  
count_estado

estado
En buen estado    1705
A estrenar         479
Reformado          402
A reformar         349
Name: count, dtype: int64

In [76]:
count_tipologia = df_pisoscom['tipologia'].value_counts().sort_values(ascending=False)  
count_tipologia

tipologia
Piso           3919
Ático           226
Chalet          169
Apartamento     129
Dúplex          108
Casa             89
Estudio          74
Loft             18
Finca             4
Name: count, dtype: int64

In [77]:
df_pisoscom.to_csv('pisoscom_limpio_completo.csv', index=False)